[2019-07-22 05:20] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-07-22 05:28] greenkeeper[bot] opened #2 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-07-29 11:16] #1 closed

[2019-07-29 11:16] #2 closed

[2019-08-05 13:47] shibupanda opened #4 "Issue while clicking element"
HI, @truongsinh I am getting some error while executing the example(await driver.elementClick(buttonFinder);) script could you please guide me where is the error so that I can also try to contribute some keyword here.

https://gist.github.com/shibupanda/0691c26c738260da4b6b21e17d15ba10

[2019-08-05 15:40] #4 closed

[2019-08-05 15:41] truongsinh commented on #4
I just fix this problem, which was about base64 encoding unsafe for URL, in latest version, `0.0.12`.

[2019-08-05 17:07] shibupanda opened #5 "appium-flutter-finder needs to publish in npm"
HI, @truongsinh appium-flutter-finder needs to publish in npm I guess because still getting an error due to that I guess. I tried to modify but there is no luck.

https://gist.github.com/shibupanda/7fc5cbe06f6c6454bf34b6992e6f033e

[2019-08-05 23:18] truongsinh commented on #5
ah true, i forgot to publish NPM :D

[2019-08-05 23:19] truongsinh commented on #5
done, please check if we can close this issue.

[2019-08-06 06:41] shibupanda commented on #5
No the same error while clicking the element. Are you able to execute all the steps?
Please let me know if I am doing anything wrong.

[2019-08-06 07:00] truongsinh commented on #5
did you fork https://github.com/truongsinh/appium-flutter-driver locally and run `npm install` inside `example` dir? could you send the result of `npm list` in that dir? And also the new log from `appium`?

[2019-08-06 07:15] shibupanda commented on #5
My fault missed npm install after pull new code. It's working now.

[2019-08-06 07:15] #5 closed

[2019-08-06 08:07] truongsinh commented on #5
thanks, let me know if you have any problem, or any feature request.

[2019-08-06 09:19] shibupanda opened #6 "Feature Request: Add byIcon finder"
Hi, @truongsinh can we add **byIcon** flutter finder API?
https://api.flutter.dev/flutter/flutter_test/CommonFinders/byIcon.html

[2019-08-06 12:44] truongsinh commented on #6
ha, seems that updated some new finders

[2019-08-06 13:07] truongsinh commented on #6
I took a look, and it seems that your're requesting finder from `flutter_test` package, but I think `flutter driver` (on which `appium flutter driver` depends) only support finders as listed in `flutter_driver` package https://api.flutter.dev/flutter/flutter_driver/CommonFinders-class.html

[2019-08-06 13:10] shibupanda commented on #6
Yes, you are correct.
Is it needed to include flutter_test finder as well in appium?

[2019-08-06 13:48] truongsinh commented on #6
Very doubtful. If we cannot run the test with `flutter driver`, then we cannot that test in `appium flutter driver`, because the architecture is very different. With `flutter test`, it's 1 process, and you can run the test without emulator. With `flutter driver`, it's 2 process, one "app-under-test" (AUT), the other is the "driver", and 2 process communicate via network.

[2019-08-08 04:25] greenkeeper[bot] opened #7 "An in-range update of appium-xcuitest-driver is breaking the build 🚨"
## The dependency [appium-xcuitest-driver](https://github.com/appium/appium-xcuitest-driver) was updated from `2.125.0` to `2.126.0`.

🚨 [View failing branch](https://github.com/truongsinh/appium-flutter-driver/compare/master...truongsinh:greenkeeper%2Fdefault%2Fappium-xcuitest-driver-2.126.0).

This version is **covered** by your **current version range** and after updating it in your project **t

[2019-08-08 05:44] greenkeeper[bot] opened #8 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.7.0` to `12.7.1`.

🚨 [View failing branch](https://github.com/truongsinh/appium-flutter-driver/compare/master...truongsinh:greenkeeper%2Fdefault%2F%40types%2Fnode-12.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed*

[2019-08-16 14:48] truongsinh commented on #6
Closing as won't do

[2019-08-16 14:49] #7 closed

[2019-08-16 14:49] #8 closed

[2019-08-18 06:48] #6 closed

[2019-08-18 15:27] shibupanda opened #11 "Need an Application to test recently added action"
@truongsinh
Do we have any application where we can test recently added features like scroll, enterText and all?
One more question I have. suppose I don't have app source code or if I am concentrating only black-box testing then is there any way to retrieve locators like "byValueKey('increment')" etc. So that we can start implementing those in Appium desktop.

Thanks.

[2019-08-18 16:36] shibupanda commented on #11
@truongsinh
I got my answer through below link.
https://flutter.dev/docs/development/tools/devtools/inspector

[2019-08-19 05:09] truongsinh commented on #11
Yes, I will update shortly

[2019-08-21 20:04] greenkeeper[bot] opened #12 "An in-range update of appium-base-driver is breaking the build 🚨"
## The dependency [appium-base-driver](https://github.com/appium/appium-base-driver) was updated from `3.20.2` to `3.21.0`.

🚨 [View failing branch](https://github.com/truongsinh/appium-flutter-driver/compare/master...truongsinh:greenkeeper%2Fdefault%2Fappium-base-driver-3.21.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed

[2019-08-22 19:48] greenkeeper[bot] opened #13 "An in-range update of appium-uiautomator2-driver is breaking the build 🚨"
## The dependency [appium-uiautomator2-driver](https://github.com/appium/appium-uiautomator2-driver) was updated from `1.35.0` to `1.35.1`.

🚨 [View failing branch](https://github.com/truongsinh/appium-flutter-driver/compare/master...truongsinh:greenkeeper%2Fdefault%2Fappium-uiautomator2-driver-1.35.1).

This version is **covered** by your **current version range** and after updating it in your pr

[2019-08-26 13:46] #13 closed

[2019-08-26 13:46] #12 closed

[2019-08-26 13:47] truongsinh commented on #11
The application is now available at https://github.com/truongsinh/appium-flutter-driver/tree/master/example/flutter_app_under_test

[2019-08-26 13:47] #11 closed

[2019-08-27 06:43] shibupanda opened #14 "The commands are failing like flutter:getCenter, "flutter:checkHealth" etc."
@truongsinh
The commands start failing like flutter:getCenter, "flutter:checkHealth" etc.
Could you please check the below logs.
Tested with latest and 0.0.16 flutter-driver and 0.0.13 flutter-finder

Appium Logs:
https://gist.github.com/shibupanda/28328d9a389fb3a3639392f534b63037
WDIO Logs:
https://gist.github.com/shibupanda/6ecef6554f5b437a8101f4cdfd2f33c4

[2019-08-27 08:04] truongsinh commented on #14
Do you use your own app or the example app? What is your Flutter version?

[2019-08-27 08:16] shibupanda commented on #14
I am using the example app only.
Flutter version or appium-Flutter-driver version ?
Because previously I don't have flutter installed in my local machine.

[2019-08-27 08:50] shibupanda commented on #14
I added flutter path in environment variable and commands are start working now.
But please don't close this thread as I am doing overall testing on this build.
Appreciate your help. Thanks

[2019-08-27 09:29] shibupanda commented on #14
@truongsinh closing this issue as I fixed all and now all the steps are working perfectly.

[2019-08-27 09:29] #14 closed

[2019-08-27 10:07] truongsinh commented on #14
@shibupanda can you describe what steps to you do to fix?

[2019-08-27 10:45] nknezevicpr commented on #14
@shibupanda Can you please sent me a PM or mail, I have couple questions for you?

[2019-08-27 10:56] shibupanda commented on #14
Sure @truongsinh I will do that.
Sure @nknezevicpr I have sent.

Thank You.

[2019-08-27 16:53] shibupanda opened #15 "Need to know how to test the changes locally"
Hi @truongsinh could you please let me know how can I build this locally so that I can place build folder directly inside appium-flutter-driver in Appium. I am curious to know this as I have added some functionality need to test that locally before sending pull request.

Thank You

[2019-08-27 18:37] shibupanda commented on #15
Built using tsc command.

[2019-08-27 18:39] #15 closed

[2019-09-10 09:54] hongbiangoal opened #18 "Connecting to Dart Observatory: ws://127.0.0.1:52872/EIE89oo878s=/ws"
[FlutterDriver] Attempt #1
[FlutterDriver] Connecting to Dart Observatory: ws://127.0.0.1:52872/EIE89oo878s=/ws
[FlutterDriver] Error: connect ECONNREFUSED 127.0.0.1:52872
[FlutterDriver]     at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1056:14)
[FlutterDriver] Check Dart Observatory URI ws://127.0.0.1:52872/EIE89oo878s=/ws
[FlutterDriver] Waiting 300 seconds before trying...

please hel

[2019-09-11 09:13] shibupanda commented on #18
@hongbiangoal Could you please send us to complete logs using gist.

[2019-09-11 09:43] hongbiangoal commented on #18
gist:a45d27cbb9cd80b967c407d5e0df975c

[2019-09-11 09:45] hongbiangoal commented on #18
https://gist.github.com/hongbiangoal/a45d27cbb9cd80b967c407d5e0df975c

[2019-09-11 09:49] shibupanda commented on #18
@hongbiangoal I got below in the given logs.

 **Error: Couldn't start port forwarding on port 8202. Please provide a different port using 'wdaLocalPort' capability
2019-09-11 09:40:35:258 [XCUITest]     at WebDriverAgent.createIProxy (/usr/local/lib/node_modules/appium-flutter-driver/node_modules/appium-xcuitest-driver/lib/wda/webdriveragent.js:263:13)**

Didn't get any flutter related error.
Ple

[2019-09-11 09:55] hongbiangoal commented on #18
I use available port,  but failed!

[2019-09-11 09:57] hongbiangoal commented on #18
WebDriverAgent successfully started after 6969ms
[debug] [BaseDriver] Event 'wdaSessionAttempted' logged at 1568195760633 (17:56:00 GMT+0800 (中国标准时间))
[debug] [XCUITest] Sending createSession command to WDA
[debug] [WD Proxy] Matched '/session' to command name 'createSession'
[debug] [WD Proxy] Proxying [POST /session] to [POST http://localhost:8402/session] with body: {"capabilities":{"firstMatch

[2019-09-11 10:01] shibupanda commented on #18
Ok, will try to reproduce here and get back to you.
@truongsinh Any points you want to add here if you faced this earlier.

[2019-09-16 04:44] truongsinh commented on #18
@hongbiangoal are using app-under-test in release, profile or debug mode?

[2019-09-16 14:45] KazuCocoa commented on #18
If the issue is communication with real iPhone, I guess this is because port forward.
We're improving the logic like https://github.com/appium/appium-xcuitest-driver/pull/1066
I guess you need to establish a connection to `54061` on the real device from this driver.

---

Probably flutter uses iproxy to achieve it. https://github.com/flutter/flutter/search?q=iproxy&unscoped_q=iproxy
(Appium replac

[2019-09-17 02:11] hongbiangoal commented on #18
@truongsinh  yes
@KazuCocoa  thanks，the port foward has work ok~~

[2019-09-17 02:12] hongbiangoal commented on #18
resolved by iproxy localport  deviceport

[2019-09-17 02:12] #18 closed

[2019-09-25 08:14] shibupanda opened #19 "Need to do npm publish for the latest build"
@truongsinh
Could you please publish the driver library in npm.
Thanks.

[2019-09-25 17:46] truongsinh commented on #19
done https://www.npmjs.com/package/appium-flutter-driver/v/0.0.20 which should include your PR on longTap

[2019-10-02 08:52] shibupanda commented on #19
Thanks @truongsinh I will check.

[2019-10-02 08:52] #19 closed

[2019-11-19 11:35] 0x88l opened #22 "Did flutter-driver support Python?"
Ni Hao, truongsinh~
Did flutter-driver  support Python?

[2019-11-23 15:49] shibupanda commented on #22
@0x88l we need to take this as feature as python binding is not yet available for appium-flutter-finder.
@truongsinh Could you please mark this as feature request.

[2019-11-23 19:12] shibupanda opened #23 "Need Help to create kotlin jar to use that in java"
Hi @truongsinh could you please help me to build a jar as I tried and it leads to below error.
java -jar appium-flutter-finder-0.0.4.jar
no main manifest attribute, in appium-flutter-finder-0.0.4.jar

If possible please help me with the jar link.
That would really help for java user.

[2019-11-26 02:50] truongsinh commented on #23
@shibupanda I don't think you can run ```java -jar appium-flutter-finder-0.0.4.jar``` directly, but you have to declare this as dependency. Please find the example at https://github.com/truongsinh/appium-flutter-driver/blob/master/example/java/pom.xml, specifically line https://github.com/truongsinh/appium-flutter-driver/blob/master/example/java/pom.xml#L52-L56 and https://github.com/truongsinh/ap

[2019-11-26 14:52] shibupanda commented on #23
@truongsinh Yes you are absolutely correct.
But I did only for the verification whether the build is correct or not. I am using "gradle clean build" command to build the jar.

When I used the built jar in the project it leads with the below error.

https://gist.github.com/shibupanda/662770f842224283248b603d16f0351c

[2019-11-28 16:51] shibupanda commented on #23
Hi @truongsinh
Any suggestion on the above.

[2019-11-28 19:36] vijaydeepak-rezi opened #26 "Error While Running in ios real Device"
@truongsinh
[code]

[2019-11-29 04:53] truongsinh commented on #22
Current we don't, PRs are welcome

[2019-11-29 04:56] truongsinh commented on #23
@shibupanda it seems your project does not have any `kotlin` depedency, which is required. It's kind of weird because `appium-flutter-driver` should already depend on `kotlin` std. Maybe you need to declare "transitive" :-? It's better if you have the whole project available for me to run on my local machine.

[2019-11-29 04:56] truongsinh commented on #26
@vijaydeepak-rezi admittedly I have not tried this on iOS real device. Are you running the example provided in this repo?

[2019-11-29 04:58] truongsinh commented on #23
You can also look at this https://stackoverflow.com/questions/44197521/gradle-project-java-lang-noclassdeffounderror-kotlin-jvm-internal-intrinsics/44583514

[2019-11-29 05:05] vijaydeepak-rezi commented on #26
@truongsinh  i've create a dummy project to test  on the real device

[2019-11-29 07:11] shibupanda commented on #23
Hi @truongsinh I took the pull from kotlin-finder branch as I don't want to invest time to build whole using java. If there is any issue with the branch I may start creating the java binding for finder.

[2019-11-29 07:13] shibupanda commented on #26
@vijaydeepak-rezi could you please send the complete appium logs for better debugging. And please let us know whether you are using the sample App.

[2019-11-29 07:22] vijaydeepak-rezi commented on #26
[BaseDriver] Number capability passed in as string. Functionality may be compromised.
[Appium] Appium v1.15.0-beta.0 creating new FlutterDriver (v0.0.20) session
[Appium] Capabilities:
[Appium]   platformName: ios
[Appium]   app: /Users/Vijay/Desktop/Runner_flutter/Runner.ipa
[Appium]   automationName: Flutter
[Appium]   deviceName: A1
[Appium]   newCommandTimeout: 18000
[Appium]   noReset: true
[

[2019-11-29 07:23] vijaydeepak-rezi commented on #26
@shibupanda  : Had build a sample app using my developer Account and trying run on real device

[2019-11-29 12:30] truongsinh commented on #23
Yes it was merged to master. Were you able to run the Java example provided?

[2019-11-29 12:40] shibupanda commented on #23
No @truongsinh I am not as the dependency is not in maven so I am getting dependecy error in pom.
That's why I am trying to the jar.

[2019-12-02 11:21] shibupanda commented on #23
Hi @truongsinh any update on the above.
Thanks

[2019-12-03 17:44] ahashmi24 commented on #23
Hi @truongsinh
I have tried to execute your java example code after installing appium-flutter-driver as mentioned in [link](https://www.npmjs.com/package/appium-flutter-driver) and setting up the maven dependencies by keeping 'repository' folder in my local machine. However, I am getting issue "**UnhandledPromiseRejectionWarning: Error: "ext.flutter.driver" is not found in "extensionRPCs"**" after

[2019-12-03 18:06] shibupanda commented on #23
@ahashmi24 where you got repository folder. Can you help me with the link. As I am trying to build jar but stuck due to above error.

[2019-12-03 18:13] ahashmi24 commented on #23
@shibupanda
You can download it from [link](https://github.com/truongsinh/appium-flutter-driver/releases/download/kotlin-finder-0.0.3/repository.zip) and take reference from [pom.xml](https://github.com/truongsinh/appium-flutter-driver/blob/master/example/java/pom.xml)

Happy Testing!!!

[2019-12-03 18:23] shibupanda commented on #23
Hi @ahashmi24 could you please create a new thread for the issue you reported as it seems the driver is not configure properly. Expect you to create a new thread so that we can track the issues easily.

[2019-12-03 18:23] #23 closed

[2019-12-03 18:26] ahashmi24 opened #27 "Getting issue "UnhandledPromiseRejectionWarning: Error: "ext.flutter.driver" is not found in "extensionRPCs"
Hi @truongsinh
I have tried to execute your java example code after installing appium-flutter-driver as mentioned in link and setting up the maven dependencies by keeping 'repository' folder in my local machine. However, I am getting issue "UnhandledPromiseRejectionWarning: Error: "ext.flutter.driver" is not found in "extensionRPCs"" after launching the android app on real device.

You can see the

[2019-12-03 18:35] shibupanda commented on #27
Hi @ahashmi24 Can I get some more information here. Which dart version you have installed and set in environment.

[2019-12-03 18:41] ahashmi24 commented on #27
@shibupanda
its 2.6.1
$ dart --version
Dart VM version: 2.6.1 (Mon Nov 11 13:12:24 2019 +0100) on "macos_x64"

do I need to set path variable for dart? can you help me what path I need to set?

[2019-12-03 18:47] shibupanda commented on #27
Sure I can help you tomorrow. I have one more question whether you are trying with the sample apk what is here in this repo.

[2019-12-03 19:04] ahashmi24 commented on #27
I tried with a dummy flutter debug app received from my development team.

[2019-12-03 19:12] shibupanda commented on #27
Please ask the dev team to add enableFlutterDriverExtension() in main.dart. This will help you to resolve the issue.

[2019-12-03 19:14] ahashmi24 commented on #27
Yes. I tried with the apk present in this repo and able to execute the sample java code successfully.

Can you guide me on how we can inspect the element locator in flutter app?

[2019-12-08 15:36] hattersharath opened #28 ""ext.flutter.driver" is not found in "extensionRPCs""
[code]

[2019-12-09 09:27] shibupanda commented on #28
@hattersharath The issue has already been created.
Please refer the below link.
https://github.com/truongsinh/appium-flutter-driver/issues/27

[2019-12-09 12:57] hattersharath opened #29 "Error in transferring metadata"
POM file -
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>com.saucelabs</groupId>
	<artifactId>sauce_appium_junit</artifactId>
	<version>0.0.1-SNAPSHOT</ve

[2019-12-09 16:33] shibupanda commented on #28
@hattersharath could you please close this if the issue has been resolved for you.

[2019-12-10 07:11] hattersharath commented on #28
@shibupanda working on that will be closing soon.

[2019-12-10 08:39] ahashmi24 opened #30 ""flutter: waitFor" command is not getting time out after waiting enough time to FlutterElement visible on screen."
@truongsinh
Can we add any default time out for this command or there is any way to define explicit wait time for this command. Same for WaitForAbsent command.

[2019-12-10 08:47] ahashmi24 commented on #29
@hattersharath
is the below location exists in your local machine?
Users/truongsinh/Dev/flutter/appium-flutter-driver/finder/kotlin/build/repository

[2019-12-10 08:57] hattersharath commented on #29
@ahashmi24
No, it is not there.
Do I need to create a new empty folder for this in my local?

[2019-12-10 08:59] shibupanda commented on #30
Hi @ahashmi24 good catch.
@truongsinh I think **timeoutDuration** parameter is missed in driver. We need to add.

[2019-12-10 09:03] shibupanda commented on #29
Hi @hattersharath
https://github.com/truongsinh/appium-flutter-driver/releases
Download the repository.zip file extract it open the folder and get the jar file and use mvn command to place that jar inside your local repository or add directly in the build path and comment which is not needed for your project in pom.xml.

[2019-12-10 09:27] hattersharath commented on #29
@shibupanda Thank you, have done that.
But URL - https://repository-saucelabs.forge.cloudbees.com/release is not reachable.

[2019-12-10 10:09] shibupanda commented on #29
@hattersharath you can comment those if it is not required for you.

[2019-12-10 11:03] hattersharath commented on #29
@shibupanda thank you

[2019-12-10 11:03] #29 closed

[2019-12-10 12:21] LDouble opened #31 "can you provide appium-flutter-finder?"
hello,  when i import the java example, i find i can't find appium-flutter-finder in pom.xml. so can you provide it ? thanks!

[2019-12-10 12:37] shibupanda commented on #31
@LDouble Please refer the below link.
https://github.com/truongsinh/appium-flutter-driver/issues/29

[2019-12-11 01:15] LDouble commented on #31
ok,  i find it, thanks!

[2019-12-11 01:15] #31 closed

[2019-12-11 11:12] hattersharath commented on #28
"ext.flutter.driver" is not found in "extensionRPCs" ["ext.ui.window.scheduleFrame"]
[FlutterDriver] Cannot get Dart Isolate

Im still getting the issue -
<img width="1384" alt="Screen Shot 2019-12-11 at 3 11 20 PM" src="https://user-images.githubusercontent.com/55380072/70616757-99a1aa80-1c28-11ea-8a44-a50386313bef.png">

[2019-12-11 11:40] LDouble opened #32 "driver.context('FLUTTER') can't work"
hi, I use uiautomator2 as the automationName when  I start my app. and  I use driver.context('FLUTTER') to switch the driver. there are some wrongs.
[code]

[2019-12-16 14:05] vijaydeepak-rezi commented on #26
Anyone was able to run on iOS Real Device  ?  If so can you please let me know the Configurations

[2019-12-16 14:41] vijaydeepak-rezi commented on #18
Can you explain how to Fix this issue . Even am facing the Same issue @hongbiangoal @KazuCocoa

[2019-12-17 06:36] #32 closed

[2019-12-17 08:44] #27 closed

[2019-12-17 13:17] ahashmi24 commented on #30
@truongsinh
Any update on it?

[2019-12-23 08:46] hattersharath opened #33 "Cam we implement flutter automation using Page Object Model/Page Factory ?"

[2019-12-23 16:39] shibupanda commented on #33
@hattersharath Yes you can implement. Use the finder and Action function for flutter App.

[2019-12-24 07:35] ahashmi24 commented on #33
@shibupanda
Does flutter finder expect to throw an error when FlutterElements are not present on the screen?

In the current situation, it is not throwing any error.

[2019-12-24 08:02] hattersharath commented on #33
@shibupanda

@findby support only 8 locators, where I dont see byValueKey. So could you please give me an example of it

Thank you

[2019-12-27 17:07] imurchie opened #34 "Publish with updated dependencies?"
The dependencies are updated but the published version has older ones still. It would be nice to be more easily able to test with the latest working versions of things.

[2019-12-29 15:12] hattersharath opened #36 "Is there any way to find the list of mobile elements and put it under List, so I can tap on any element of the list later?"

[2019-12-29 17:47] GarimaVats opened #37 "Could not find flutter driver"
org.openqa.selenium.SessionNotCreatedException: Unable to create a new remote session. Please check the server log for more details. Original error: An unknown server-side error occurred while processing the command. Original error: Could not find a driver for automationName 'Flutter' and platformName 'iOS'. Please check your desired capabilities. (WARNING: The server did not provide any stacktrac

[2019-12-30 07:32] LDouble commented on #36
Hi, We can use `WidgetsBinding.instance.renderViewElement ` to collect all elements. so that we can add a method to flutter_driver to get the list.

[2019-12-30 08:00] hattersharath commented on #36
@LDouble  Thank you!!
@LDouble Could you please give me an example?

[2020-01-02 08:36] hattersharath opened #38 "Sendkeys throwing at org.openqa.selenium.remote.RemoteWebElement.sendKeys(RemoteWebElement.java:90)"
When I am sending keys to text edit field, I'm getting below exception

java.lang.NullPointerException
	at org.openqa.selenium.remote.RemoteWebElement.sendKeys(RemoteWebElement.java:90).

This is the line -
find.byValueKey("searchTextEdit").sendKeys("dress");

[2020-01-02 08:50] ahashmi24 commented on #38
Hi @hattersharath
you can use below code snippet instead of sendKeys

MobileElement element = find.byValueKey("searchTextEdit");
element.click();
driver.executeScript("flutter:enterText", "dress");

[2020-01-02 09:21] hattersharath commented on #38
Thank you @ahashmi24
It is working.

[2020-01-02 09:21] #38 closed

[2020-01-02 10:01] ahashmi24 opened #39 "Unable to connect with Dart Observatory when doing automation on real iOS device"
## Failing to make a connection with Dart Observatory due to error TCPConnectWrap.afterConnect [as oncomplete] (net.js:1128:14)

**Note:**  I am able to run my test on the iOS simulator by using same setup and on the same environment.

## Environment

Appium verison: 1.16.0
iOS verison:  13.1.2
xcode version: 11.1

## Link to Appium logs
https://gist.github.com/ahashmi24/bf77b21e30ba2e509e421e4442

[2020-01-02 11:27] ahashmi24 commented on #39
CC: @KazuCocoa

[2020-01-02 12:06] #37 closed

[2020-01-02 12:06] GarimaVats commented on #37
Working fine now..

[2020-01-02 12:08] GarimaVats opened #40 "enableFlutterDriverExtension() in main.dart stops keyboard, if i remove it appium-flutter-driver is showing handshaking issue"

[2020-01-03 08:15] duongnguyenquy opened #41 "Cannot build java due to missing class java.lang.NoClassDefFoundError: kotlin/jvm/internal/Intrinsics"
Hi truongsinh, first I very appriciate what you've done with this project.

I'm trying to build and run the Java client project but i caught this error, can you guide me how to resolve this problem.
[code]

[2020-01-03 08:47] shibupanda commented on #41
@duongnguyenquy
Please refer below link to fix the issue.
https://github.com/truongsinh/appium-flutter-driver/issues/29

[2020-01-03 08:53] shibupanda commented on #40
@GarimaVats
EnableFlutterDriverExtention is mandatory for the automation.
Please reach the dev team it may be due to dart version compatibility issue.

[2020-01-03 09:19] duongnguyenquy commented on #41
thanks @shibupanda.
I can run the java project now but in appium there is log about this
UnhandledPromiseRejectionWarning: Error: "ext.flutter.driver" is not found in "extensionRPCs" ["ext.ui.window.scheduleFrame"]

[2020-01-03 09:25] duongnguyenquy commented on #41
I've added enableFlutterDriverExtension(); to my app but now the problem is when i run the test in maven build the log is :
basicTest(example.appium.FlutterTest)  Time elapsed: 26.102 sec  <<< ERROR!
java.lang.NoClassDefFoundError: kotlin/Pair
        at pro.truongsinh.appium_flutter.finder._FinderRawMethods__ByValueKeyKt.byValueKey(byValueKey.kt:6)
        at pro.truongsinh.appium_flutter.finder.

[2020-01-03 14:30] lsuhov commented on #40
Can you give an example of working versions?

[2020-01-03 15:35] ahashmi24 commented on #39
@shibupanda Hi
Did you try with an iOS real device?

Can you plz help me here?

[2020-01-05 14:13] shibupanda commented on #39
@ahashmi24
Frankly speaking I didn't try on iOS with these combination. On vacation now.

Still I have some query did you try with released version of application or debug application. I am not sure but mostly this type of issue will come when we try on released version of flutter app.

[2020-01-06 02:36] duongnguyenquy commented on #41
I wonder if someone can help with the Kotlin problem above.

[2020-01-06 05:36] duongnguyenquy commented on #41
There is something wrong with the finder project. I cannot run the java appium client project.
The error now showing :
java.lang.NoClassDefFoundError: kotlinx/serialization/json/Json
        at pro.truongsinh.appium_flutter.finder._FinderRawMethods__SerializerKt.<clinit>(serializer.kt:10)
        at pro.truongsinh.appium_flutter.finder._FinderRawMethods.serialize(Unknown Source)
        at pro.tru

[2020-01-06 06:32] vijaydeepak-rezi commented on #39
Similar Issue https://github.com/truongsinh/appium-flutter-driver/issues/18
CC: @hongbiangoal

[2020-01-06 07:59] ahashmi24 commented on #39
@shibupanda
I am using a debug version of the app. I am able to do automation on a simulator with the same build.

[2020-01-06 08:15] ahashmi24 commented on #39
@hongbiangoal
can you please explain to us how you fixed this issue?

Thanks in advance!

[2020-01-08 08:51] vijaydeepak-rezi commented on #39
@ahashmi24
you need to use iproxy localport deviceport to redirect it to Dart Observatory

Example : iproxy  57172 57172  in a new terminal while appium running on other

[2020-01-08 08:51] #26 closed

[2020-01-08 09:14] ahashmi24 commented on #39
@vijaydeepak-rezi  Thank you!
Can you plz share code snippet on how to handle this? It would be a great help.

Thanks in advance.

[2020-01-08 09:18] shibupanda commented on #39
@ahashmi24
It should be fixed from driver side but the time being please follow @vijaydeepak-rezi comment.
please open different terminal and run iproxy 57172 57172 while running appium . It's port forwarding from local port to device port.

[2020-01-08 11:22] ahashmi24 commented on #39
@shibupanda @vijaydeepak-rezi Thank you so much.

But it takes a lot of time to "accept connection" .

@shibupanda shall I keep this ticket open until we get the fix in driver?

[2020-01-08 11:26] shibupanda commented on #39
@ahashmi24 Let's create a new issue for this and give this link for the reference.

[2020-01-12 11:21] hattersharath opened #42 "Touch actions is giving error -The method touchAction() is undefined for the type AppiumDriver<MobileElement>"
driver.touchAction({action: 'tap', element: {elementId: buttonFinder}})

- The method touchAction() is undefined for the type
	 AppiumDriver<MobileElement>

[2020-01-12 13:37] hattersharath commented on #28
I still get most of the sometimes while running script

 Attempt #1
[FlutterDriver] Connecting to Dart Observatory: ws://127.0.0.1:36023/QWYhtNSA7Ak=/ws
[FlutterDriver] Connected to ws://127.0.0.1:36023/QWYhtNSA7Ak=/ws
[FlutterDriver] "ext.flutter.driver" is not found in "extensionRPCs" ["ext.ui.window.scheduleFrame"]
[FlutterDriver] Cannot get Dart Isolate
[FlutterDriver] Error: "ext.flutter.driv

[2020-01-13 11:04] hattersharath opened #43 "Scripts runs on Android but not iOS"
When I run the script on Android, it completely executes. But the same script unable to click on some elements on iOS. Am I missing anything here?
I am able to launch and click couple of things in iOS but not all, could someone please help me out.

I see this log on the terminal, after this does not continues -
Calling AppiumDriver.execute() with args: ["flutter:waitFor",[{"ELEMENT":"eyJmaW5kZXJUe

[2020-01-14 07:03] #43 closed

[2020-01-18 07:59] ahashmi24 commented on #30
@shibupanda @truongsinh
Any updates?

[2020-01-21 08:43] ahashmi24 opened #44 "Flutter commands doesn't work if perform closeApp() or resetApp() and try to launchApp() on same session."
- Appium version: 1.16.0
- Device: iOS Simulator
- App: Flutter app included plugin (enableFlutterDriverExtension())

### Appium Logs:
[code]

[2020-01-21 09:02] shibupanda commented on #44
@ahashmi24 Could you please raised it in appium main repository. It seems from XCUITest driver.

[XCUITest] **idb** will not be used for Simulator interaction. Original error: 'idb' has not been found in PATH. Is it installed? Read https://www.fbidb.io for more details

[2020-01-21 10:58] ahashmi24 commented on #44
@shibupanda
It's only throwing an exception when interacting with FlutterElement. However, I am able to interact with native elements upon relaunching the app in same session.

It seems that it fails to set "Flutter" automation environment when we relaunching the app.

**Exception:**
org.openqa.selenium.WebDriverException: An unknown server-side error occurred while processing the command. Origina

[2020-01-26 07:50] shibupanda commented on #44
CC @truongsinh

[2020-01-26 13:12] shibupanda commented on #41
@duongnguyenquy There is no issues with the finder project. May be some dependencies may skip. Please add below dependency to make this work.

<dependency>
    <groupId>org.jetbrains.kotlinx</groupId>
    <artifactId>kotlinx-serialization-runtime</artifactId>
    <version>0.11.1</version>
</dependency>

Please close this if it works for you.

[2020-01-26 14:15] ahashmi24 commented on #30
@truongsinh @shibupanda
Can you guys please look into this issue. It blocks me to fail the test step.

[2020-01-29 21:50] alikillz commented on #30
any news regarding this issue?

[2020-01-30 02:06] shibupanda commented on #30
@ahashmi24 and @alikillz
Development is going on we'll update soon.

[2020-01-31 14:56] jagradang opened #45 "Webview still work in progress?"
I noticed that swtiching views are still on the todo list as not being done. Is there any timeline as to when these features may become available.  I have a flutter app i'm trying to write tests for but the login page uses keycloak and therefore navigates into a webview to navigate to a website, login and retrieve the token.  I was hoping to be able to automate the flow but in order to do so i nee

[2020-01-31 16:57] shibupanda commented on #45
@jagradang This is on hold. As the dependent API is not yet provided from Flutter community.
@truongsinh has already raised the issue there please refer below link.
https://github.com/flutter/flutter/issues/36259

[2020-02-02 11:22] truongsinh commented on #44
Thanks for reporting. It seems to be a coner case that we have not covered. Will work on the case in the coming time.

[2020-02-02 11:24] truongsinh commented on #30
@other: sorry for such a lateeeeee reply.
@shibupanda are you working on this one? If you are then I can focus on others.

[2020-02-02 11:26] truongsinh commented on #22
To give more context, the expansion to other languages can exampled by this PR https://github.com/truongsinh/appium-flutter-driver/pull/35

[2020-02-02 11:29] truongsinh commented on #28
@hattersharath please make sure you have `enableFlutterDriverExtension();` before running your main app,
ref https://github.com/truongsinh/appium-flutter-driver/blob/master/example/flutter_app_under_test/lib/main.dart#L9

[2020-02-02 11:31] truongsinh commented on #33
`byValueKey` should be supported. You can see the readme on the homepage, or directly at https://github.com/truongsinh/appium-flutter-driver/blob/master/example/nodejs/src/index.js#L36

Feel free to re-open if you need more info.

[2020-02-02 11:31] #33 closed

[2020-02-02 11:32] truongsinh commented on #34
For the next update, we will bring the version to the same number. When we do so, we will close this issue.

[2020-02-02 11:33] truongsinh commented on #36
Thank you @LDouble .
@hattersharath this need to be implemented in this driver, so until then, we cannot do this yet.

[2020-02-02 11:39] truongsinh commented on #40
v1.12.13+hotfix.7 or v1.9.1+hotfix.6 should both work. If it's not working for you, can you report the device and OS you are using?

[2020-02-02 11:40] truongsinh commented on #41
If that was indeed the solution, we might need to find the way to ensure that, or mention in the doc.

[2020-02-02 11:41] truongsinh commented on #42
@hattersharath which version of the driver and finder are you using?

[2020-02-02 12:37] shibupanda commented on #30
@truongsinh am working on it soon I will send you my first pull request

[2020-02-02 12:46] shibupanda commented on #41
@truongsinh faced the same. Some times above artifact blocked so let's add this dependencies in pom.xml that will resolve the issue. I will do that.

[2020-02-02 12:50] shibupanda commented on #40
@truongsinh it seems it's already reported in flutter community nothing to do in Appium flutter driver. I have tried with latest dart and flutter version.
https://github.com/flutter/flutter/issues/15415

[2020-02-02 14:57] hattersharath commented on #36
@truongsinh thank you

[2020-02-02 15:07] hattersharath commented on #42
Hey @truongsinh, I'm using below versions -
appium driver version -1.15.0-beta.0
appium-flutter-finder version - 0.0.3

Thank you

[2020-02-02 15:10] hattersharath commented on #28
Hi @truongsinh, I have added it in my code before runapp.
But still most of the time it comes for android but works smooth for iOS.

[2020-02-02 15:10] shibupanda commented on #42
@hattersharath
Could you please try the latest appium-flutter-driver ---> v0.0.20 and
appium-flutter-finder version - 0.0.4

Please let us know if this help.

[2020-02-02 20:06] pmootyen opened #47 "Unable to clear a Textfield with Flutterfinder"
Hi
I am trying to clear several text fields with  Appium Flutter but there is no available option.

Except to possibly send a null value with sendkeys please can this be targeted in a fix.

[2020-02-02 20:07] pmootyen opened #48 "Unable to Clear Text fields"
Have rasied - https://github.com/truongsinh/appium-flutter-driver/issues/

to cover this.

[2020-02-02 20:46] #48 closed

[2020-02-02 21:04] shibupanda commented on #47
@pmootyen Till now there is no API in flutter driver to clear the text box.
It's good to hear that passing null value is clearing the Text field.

I am going to raise this request in Flutter Community.

[2020-02-03 02:42] truongsinh commented on #28
@hattersharath does it happen intermittently to the same build? Is it possible that you can provide us that build, or a trimmed down version which can help us to debug?

[2020-02-03 02:44] truongsinh commented on #36
@hattersharath actually, I think it's better if we can keep this issue open. Once we have somebody (or me) implement that, we can close.

[2020-02-03 09:28] hattersharath commented on #42
@shibupanda
I have updated appium-flutter-driver ---> v0.0.20
But if I update my dependency to
<dependency>
			<groupId>pro.truongsinh</groupId>
			<artifactId>appium-flutter-finder</artifactId>
			<version>0.0.4</version>
		</dependency>

I get error - [WARNING] The POM for pro.truongsinh:appium-flutter-finder:jar:0.0.4 is invalid, transitive dependencies (if any) will not be available, enable de

[2020-02-03 11:10] hattersharath commented on #42
@shibupanda could you please provide a link for the 0.0.4 jar.

Thank you

[2020-02-03 11:11] shibupanda commented on #42
@hattersharath Please download the complete repository.zip from releases section

[2020-02-03 11:51] pradarttana-sharechat commented on #39
Hello all,

I have followed the instruction.

iproxy <observatory_port> <observatory_port> <udid>

I am getting

`waiting for connection
accepted connection, fd = 4
waiting for connection
Number of available devices == 1
Requesting connecion to device handle == 124 (serial: a674920a60bb4efd14f1c7824dca56609b4e5cd4), port 57388
run_ctos_loop: fd = 4
run_stoc_loop: fd = 4
recv failed: Connection res

[2020-02-03 13:26] shibupanda commented on #41
Reopen this issue as we are working on it.

[2020-02-03 15:25] ahashmi24 commented on #39
@pradarttana-sharechat
you have to wait for 300 seconds or 5 mints to complete Attempt 1 if you are following the below steps:

1. Get an observatory port from appium server logs.
2. Open a new terminal and hit iproxy [boservatory_port] [boservatory_port] command.
3. Wait for 300 seconds to hit Attempt 2.

[2020-02-04 02:14] GarimaVats commented on #40
@truongsinh I tried almost all appium enter key function. I was using appium 1.16.0. I used it for both android and iOS devices and both OS Mac and windows.

[2020-02-04 07:37] pradarttana-sharechat commented on #39
@ahashmi24
in the second attempt. the connection is successful. then again the session is deleted

`[FlutterDriver] Attempt #1
[FlutterDriver] Connecting to Dart Observatory: ws://127.0.0.1:55130/8ecI9cXWD1M=/ws
[FlutterDriver] Error: connect ECONNREFUSED 127.0.0.1:55130
[FlutterDriver]     at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1106:14)
[FlutterDriver] Check Dart Observatory URI w

[2020-02-04 07:45] pradarttana-sharechat commented on #39
@ahashmi24 it is failing at
`find = new FlutterFinder(driver);`

this is given as an example. I don't know what I am doing wrong.

[2020-02-04 07:51] shibupanda commented on #39
@pradarttana-sharechat
We are working on it to fix it permanently.
Time being please follow below.
https://github.com/truongsinh/appium-flutter-driver/issues/41

[2020-02-05 12:00] pradarttana-sharechat opened #49 "scroll in java is not working."
as per my
flutter driver

` await driver.scroll(<SerializableFinder>, 0, 400, Duration(milliseconds: 500));`

is working

but the same in appium flutter driver

` driver.executeScript("flutter:scroll", find.byValueKey("key"), new HashMap<String, Object>() {{
                put("dxScroll", 0);
                put("dyScroll", -400);
            }});
`

is not working. the exception I am getting is

[2020-02-05 12:50] shibupanda commented on #49
@pradarttana-sharechat
Please follow the same standard for scroll mentioned in java example.
In your case you are using flutter:scroll (two arguments durationMilliseconds and frequency missing).

[2020-02-08 05:58] shibupanda commented on #22
@0x88l Now python finder is added in this repository. Please have a look.
@KazuCocoa Thanks.

[2020-02-08 05:58] #22 closed

[2020-02-08 07:15] hattersharath commented on #42
@shibupanda
Thank you

[2020-02-08 07:18] hattersharath commented on #28
@truongsinh  Yes, It happens intermittently.
Sorry, I can't share the build due to some reasons.

[2020-02-08 07:25] shibupanda commented on #42
@hattersharath Is this working now?

[2020-02-08 08:32] hattersharath commented on #42
@shibupanda yet to check, will check it and let you know.

[2020-02-09 13:22] pradarttana-sharechat commented on #49
will work on it and update it.

[2020-02-09 13:22] #49 closed

[2020-02-10 03:40] #41 closed

[2020-02-10 04:59] #30 closed

[2020-02-10 05:01] truongsinh commented on #34
with commit 3d45cc8df092f83335e760c6fa96cf0d3dd7b444, both driver and finder (nodejs) is not at `0.0.21`

[2020-02-10 05:01] #34 closed

[2020-02-10 05:18] truongsinh commented on #40
From https://github.com/flutter/flutter/issues/15415#issuecomment-581532972, looks like @jonahwilliams meant we have to have the solution ourselves. @GarimaVats can you describe the reason you need to interact with on-screen keyboard?

[2020-02-10 05:22] truongsinh commented on #47
@pmootyen @shibupanda do you think of sth like this http://appium.io/docs/en/commands/element/actions/clear/ ?

[2020-02-10 05:36] shibupanda commented on #47
Yes @truongsinh. Let me reverify it if possible I can send you the pull request today.

[2020-02-10 07:49] ahashmi24 commented on #30
@shibupanda Thank-You for the fixes.

should I need to re-install appium to utilize these fixes?

Currently, I am using v1.16.0

[2020-02-10 07:52] shibupanda commented on #30
@ahashmi24 Please use latest version of driver in appium 1.16.0
https://www.npmjs.com/package/appium-flutter-driver

[2020-02-10 08:05] shibupanda commented on #36
Hi @truongsinh and @LDouble
"WidgetsBinding.instance.renderViewElement" is in flutter_test package it's not present in flutter_driver packages. So I guess we need to wait untill it's be in flutter_driver or else we need to find the other way.
Please share your input on this.
https://github.com/flutter/flutter/blob/6dc3bfaa98e13c0f174e0cc229e7b43678d4d0c0/packages/flutter_test/lib/src/finders.dart#

[2020-02-10 08:06] ahashmi24 commented on #30
@shibupanda
is this a correct version?
appium-flutter-driver@0.0.20

[2020-02-10 08:32] shibupanda commented on #30
@ahashmi24
appium-flutter-driver@0.0.21 is the latest versions publish few hours ago.

[2020-02-10 09:37] LDouble commented on #36
@shibupanda  I have implement it in my project,  and i will give an example later.

[2020-02-10 10:18] shibupanda commented on #36
Thanks @LDouble .

[2020-02-10 12:32] pradarttana-sharechat opened #53 "running tests on native elements in flutter appium driver."
Appium version: 1.15.0-beta.0
Device: iOS Simulator
App: Flutter app included plugin (enableFlutterDriverExtension())
language: java

the app consist of some screen which are "flutter" say (login) and some screens are native. say "camera"
I am able to run the tests using appium flutter driver on the flutter screen.
once I am on the native screen I am switching the context

`driver.context("NATIVE_

[2020-02-10 14:48] ahashmi24 opened #54 "Getting 'No gulpfile' found exception when installing appium dependencies."
**Steps:**
**Installing patch version from:** npm i -g appium-flutter-driver https://github.com/truongsinh/appium.git#patch-1
**Go to appium folder:** hitting command npm install

**Getting below issue:**

Ahmers-MacBook-Pro:appium vikasvipul$ npm install
npm WARN deprecated circular-json@0.5.9: CircularJSON is in maintenance only, flatted is its successor.
npm WARN deprecated core-js@2.6.11: core

[2020-02-10 14:54] shibupanda commented on #54
@ahashmi24 I don't think now patch version is required as Appium 1.16.0 support Appium flutter driver beta.

Please update the flutter driver dependency to latest in package.json and do npm install.

[2020-02-10 17:22] ahashmi24 commented on #54
@shibupanda
I tried the same what suggested. However, I am still getting same issue:

[22:50:23] No gulpfile found
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! appium@1.16.0 prepare: `gulp prepublish`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the appium@1.16.0 prepare script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR!

[2020-02-10 17:26] shibupanda commented on #54
@ahashmi24 are you able to start Appium 1.16.0 successfully even after getting above error. If yes then please try to execute the script and check once.

[2020-02-10 17:58] ahashmi24 commented on #54
@shibupanda
I have updated appium-flutter-driver version manual by below command:
npm install -g appium-flutter-driver

Now, it is showing :

Ahmers-MacBook-Pro:~ vikasvipul$ npm ls -g appium-flutter-driver
/usr/local/lib
├─┬ appium@1.16.0
│ └── appium-flutter-driver@0.0.21
└── appium-flutter-driver@0.0.21

However, the "waitFor" flutter command behaves as previously.

[2020-02-10 18:20] shibupanda commented on #54
@ahashmi24 could you please share complete Appium logs using gist.

[2020-02-10 18:27] ahashmi24 commented on #54
@shibupanda
Please find the gist for the same:
https://gist.github.com/ahashmi24/788098b5ee41bb8cba9e3640c2fc0f91

Code snippet:
driver.context("FLUTTER");
FlutterElement buttonToOpenCalendar = find.byValueKey("button"); // intentionally I used incorrect value key
driver.executeScript("flutter:waitFor", buttonToOpenCalendar);

[2020-02-10 18:40] shibupanda commented on #54
@ahashmi24 looks like it's a existing driver not the latest one. Please install correctly.
One suggestion it may work for you. Please delete the existing appium-flutter-driver from node modules and please install the latest driver in the same node modules directory without -g.

@truongsinh any idea when the flutter driver latest version will come up with appium bundle.

[2020-02-11 06:57] truongsinh commented on #28
How frequent is that? Like 1 every 5 times, and then after several re-run (with the same build) then it works?

[2020-02-11 07:02] truongsinh commented on #54
@shibupanda @ahashmi24
Yes, firstly, `1.16.0` of appium already include `appium-flutter-driver`, so we no longer need the patch version. I will update README.
<img width="911" alt="Screen Shot 2020-02-11 at 14 01 41" src="https://user-images.githubusercontent.com/358585/74216438-0db70800-4cd7-11ea-8467-5a14ea82d0ee.png">
Can you try remove and re-install appium? This seems to be the error from `ap

[2020-02-11 07:08] truongsinh commented on #53
Frankly, without a piece of code of app-under-test (AUT), it's quite difficult for us to re-produce the crash. Can you try some of the suggestion below:
- upgrade to appium `1.16.0`
- provide more detail for the exception (e.g. is the null pointer exception on the `By` object or `driver` object, or possible loner stack stace)?

[2020-02-11 07:20] pradarttana-sharechat commented on #53
@shibupanda . is this not implemented. I found an open issue https://github.com/flutter/flutter/issues/36259

[2020-02-11 07:42] truongsinh commented on #53
Yeah I opened that issue awhile ago, but I don't think it's the cause in this case, because `driver.context("NATIVE_APP");` is supposed to help you with the native screen

[2020-02-11 07:46] shibupanda commented on #53
@pradarttana-sharechat and @truongsinh
"NullPointerException" is something if you are passing something null as an argument or you are getting null value as a response.

@pradarttana-sharechat
Could you please share the complete logs as well using gist.

[2020-02-11 08:59] shibupanda opened #56 "Proposal : Flutter Inspector Integration"
## Description:
There is no such tool available now that can retrieve flutter finders.
Need to build an inspector it may integrate with Appium Desktop or Maybe an independent tool which can inspect element for a flutter application.

## Problem:
Now user requires the source code to be there in IntelliJ editor to inspect the element.
In some of the cases it quite difficult to get the complete sourc

[2020-02-11 08:59] shibupanda commented on #56
cc @truongsinh

[2020-02-11 10:04] truongsinh commented on #56
Are you refering to https://flutter.dev/docs/development/tools/devtools/inspector? Is it related to #36 or https://api.flutter.dev/flutter/flutter_driver/FlutterDriver/getRenderObjectDiagnostics.html or https://api.flutter.dev/flutter/flutter_driver/FlutterDriver/getRenderTree.html

[2020-02-11 10:07] shibupanda commented on #56
Yes, @truongsinh I am referring to https://flutter.dev/docs/development/tools/devtools/inspector.
Is there any possibility we can integrate it to Appium Desktop or any independent tool.

[2020-02-11 10:12] truongsinh commented on #56
I am not extensively using Appium Desktop, and not fimilar with its API, but I think we can start small, with #36 , and goes from there.

[2020-02-11 10:16] shibupanda commented on #56
Sure. Thanks for the clarification.

[2020-02-11 11:26] pradarttana-sharechat commented on #53
yes, I got it. I made a mistake on my part.

[2020-02-11 11:26] #53 closed

[2020-02-11 11:46] pradarttana-sharechat opened #57 "wait.untill is not working in ios-native elements after driver.context("NATIVE_APP");"
platform:-
appium: 1.16.0
finder: 0.0.4

issue:-
`      LoginPage loginPage = new LoginPage(driver);

        loginPage.login();

        HomePage homePage= new HomePage(driver);

        homePage.navigateToUpload();

        driver.context("NATIVE_APP");

        ComposeFileUploadScreen composeFileUploadScreen = new ComposeFileUploadScreen(driver);
        wait.until(ExpectedConditions.elementToB

[2020-02-11 16:46] myl8888 opened #58 "appium desktop1.16.0安装失败，有成功的吗"

[2020-02-11 17:00] shibupanda commented on #58
@myl8888 Could you please describe the issue briefly.

[2020-02-11 19:53] ahashmi24 commented on #54
@shibupanda @truongsinh
I have tried installing appium beta version (npm install -g appium@beta) and could see the latest appium-flutter-driver version which is coming with appium beta bundle.

Ahmers-MacBook-Pro:~ vikasvipul$ appium -v
1.16.0-beta.3
Ahmers-MacBook-Pro:~ vikasvipul$ npm ls -g appium-flutter-driver
/usr/local/lib
├─┬ appium@1.16.0-beta.3
│ └── appium-flutter-driver@0.0.21
└── appiu

[2020-02-11 21:09] shibupanda commented on #54
Hi @ahashmi24
We have already updated in README and in nodejs example that from now onward there is one more argument need to pass in wait commands. Needs to be added in other examples as well.

Could you please try below code for java.
driver.executeScript("flutter:waitFor", find.text("I can enter text"), new HashMap<String, Object>() {{
      put("durationMilliseconds", 100);
 }});

[2020-02-12 02:59] ahashmi24 commented on #54
@shibupanda
It's throwing an exception "**org.openqa.selenium.WebDriverException: An unknown server-side error occurred while processing the command. Original error: durationMilliseconds is not a valid options (WARNING: The server did not provide any stacktrace information)**"

### After adding below code snippet:
 driver.executeScript("flutter:waitFor", find.byValueKey("button"), new HashMap<Stri

[2020-02-12 03:14] ahashmi24 commented on #54
@shibupanda

I got it, below syntax is working fine for me:

driver.executeScript("flutter:waitFor", find.byValueKey("button"), 1);

Hence, closing this issue.

[2020-02-12 03:14] #54 closed

[2020-02-12 06:10] ahashmi24 opened #59 "click(), "flutter:enterText" methods not throwing exception when element not present or supplied invalid locators."
@shibupanda
Maybe it's same as waitFor/waitForAbsent

[2020-02-12 08:53] kirill09 commented on #28
hi.
I have the same problem all the time.

[2020-02-12 09:26] hattersharath commented on #28
@truongsinh, it is just random. 1-2 times for every 5 times.

[2020-02-12 11:55] ahashmi24 commented on #28
@hattersharath @kirill09
Can you please confirm if you guys are using --flavor in your command when building your apk?

I have seen a similar issue in flutter community.
https://github.com/flutter/flutter/issues/26968

[2020-02-12 12:10] kirill09 commented on #28
@ahashmi24 yes we use --flavor. but issues 26968 started flutter driver. I usage appium test.
We have test "flutter driver" and they start without any problems.

[2020-02-12 16:33] ahashmi24 commented on #40
@truongsinh
it blocks us to use sendKeys() function on android/iOS native.

There must be a scenario where we have to use sendKeys() to handle any native element in android or iOS (e.g XCUIElementTypePickerWheel)

[2020-02-13 07:42] pradarttana-sharechat commented on #57
@truongsinh @shibupanda any update?

[2020-02-13 11:11] #47 closed

[2020-02-13 11:15] truongsinh commented on #59
@ahashmi24 can you have a specific code example, the way I read it, not throwing exception is expected from https://api.flutter.dev/flutter/flutter_driver/FlutterDriver/enterText.html ; this method is used to enter text into **focused** text field, i.e you have to find and focus that text field first, and if there is no text field focused, the "text input events" are still sent (to nothingness). I

[2020-02-13 11:17] truongsinh commented on #59
On the other hand, https://api.flutter.dev/flutter/flutter_driver/FlutterDriver/tap.html has the duration (which we have not implemented in `appium-flutter-driver`), which can be solved for your use case, e.g.
`driver.elementClick(buttonFinder, {durationMilliseconds: 100})`

[2020-02-13 11:27] shibupanda commented on #58
Closed due to no response.

[2020-02-13 11:27] #58 closed

[2020-02-13 11:33] ahashmi24 commented on #59
I think driver.elementClick(buttonFinder, {durationMilliseconds: 100}) will solve my problem.

Currently, I have used below code snippet to declaring MobileEelment:

MobileElement  buttonFinder = find.byValueKey("button");
buttonFinder.click();

If an element is not present on the screen or supplied the invalid locator, driver gets struck and deleting the session after 12 minutes.

[2020-02-13 12:13] ahashmi24 commented on #59
@truongsinh
Ideally, driver should throw an exception if it doesn't get the element by the given locator in the above line.

[2020-02-13 15:38] ahashmi24 commented on #39
@shibupanda @truongsinh
is it possible to prioritize this fix?
So that we can run the test on real iOS devices without any manual intervention.

[2020-02-14 07:07] hattersharath commented on #28
@ahashmi24
I have tried using both dev and prod flavor but the result is still same.

Got response with status 200: {"sessionId":"1a1c7574-3d1a-4231-9e77-985e27b0be22","value":{"height":1794,"width":1080}}
[debug] [FlutterDriver] /Users/sharathrudramuniyappa/Library/Android/sdk/platform-tools/adb forward tcp:40283 tcp:40283
[FlutterDriver] Attempt #1
[FlutterDriver] Connecting to Dart Observatory:

[2020-02-15 03:42] shibupanda commented on #57
@pradarttana-sharechat please use Flutter methods like waitFor or waitForAbsent in Flutter driver.

[2020-02-18 07:19] nowo commented on #22
How can i import the flutter library in appium test file ?

[2020-02-18 07:58] shibupanda commented on #22
@nowo
It's available in pypi org.
Do
pip install Appium-Flutter-Finder to use the finder.

[2020-02-19 00:16] KazuCocoa commented on #22
and https://github.com/truongsinh/appium-flutter-driver/blob/master/example/python/example.py is a simple example to import it

[2020-02-19 03:51] truongsinh commented on #59
Make sense, I put it as next enhancement

[2020-02-19 03:55] truongsinh commented on #28
Even though currently I have not been able to reproduce this myself, I think additional logging for upcoming version would help to further triage this problem.

[2020-02-19 04:04] truongsinh commented on #28
Having `ext.ui.window.scheduleFrame` is quite unexpected. Do you have more than one device (including virtual one) connected, and one of which is ready for Flutter hot reload?

[2020-02-19 05:28] truongsinh commented on #28
Published, can you try https://www.npmjs.com/package/appium-flutter-driver/v/0.0.23

[2020-02-19 05:34] truongsinh commented on #40
So let me see if I understand you correctly, here's the reproducing step:

1. open app
2. switch to Flutter context
3. select text box
4. send some keystrokes
5. switch to native context
6. send some keystrokes

It is at the 6th step that you are blocked?

[2020-02-19 06:33] truongsinh commented on #39
@ahashmi24 there's a pending PR #62 to tackle this problem. Unfortunately I don't have a real iOS device myself thus can't ensure it works, can you try it yourself and give us feedback https://www.npmjs.com/package/appium-flutter-driver/v/0.0.24-1 ?
Please make sure that your system has `iproxy` command because this code relies on it.

[2020-02-20 05:37] pradarttana-sharechat commented on #57
in leave for few days. will try that

[2020-02-26 08:31] HoLeAnh opened #63 "[IOS]Cannot interactive element with app native embedded flutter"
My app be wrote in native and some page be embedded flutter, when go to flutter page i cannot interactive with element byValueKey

**Environment :**
- IOS xcuit
- Simulator : 13.3
- Appium 1.16

**Code:**
DesiredCapabilities caps = new DesiredCapabilities();
caps.setCapability(MobileCapabilityType.AUTOMATION_NAME, AutomationName.IOS_XCUI_TEST);
caps.setCapability(MobileCapabilityType.PLATFORM_VERS

[2020-02-26 08:45] HoLeAnh commented on #63
[appium-server-logs.txt](https://github.com/truongsinh/appium-flutter-driver/files/4254369/appium-server-logs.txt)
Full log appium

[2020-02-26 09:17] shibupanda commented on #63
@HoLeAnh As I can see in the logs there is no such request "find.byValueKey("action_payment_method");" coming to the server and the beta appium-flutter-driver has been release with appium 1.16.0.

[2020-02-27 01:59] HoLeAnh commented on #63
I don't know why there is no request find element : "action_payment_method" .
But in my code i already find it, you can let me know where i am wrong ?

MobileElement addressButton = find.byValueKey("action_payment_method");
addressButton.click();

[2020-02-27 02:31] ahashmi24 commented on #63
@HoLeAnh
In order to interact with flutter elements, you have to use AutomationName as 'FLUTTER' in place of 'IOS_XCUI_TEST' and also you need to switch the driver context to 'Flutter' view before interacting with flutter elements or 'Native' for native elements respectively.

[2020-02-27 03:01] HoLeAnh commented on #63
@ahashmi24 my app is native and some page be embedded flutter, if i start driver with AutomationName as 'FLUTTER' my test cannot run.

[2020-02-27 03:50] fabdotnet commented on #28
It still working intermittently for me on both Android and iOS.

App built with Flutter  v1.9.1+hotfix.6
Emulator Pixel 3 XL API 26

dependencies": {
    "appium": "^1.16.0",
    "appium-doctor": "^1.13.1",
    "appium-flutter-driver": "0.0.24-1",
    "webdriver": "^5.18.7"
  }

[2020-02-27 04:19] shibupanda commented on #28
@fabdotnet there is no fixes for this with the latest build only we put some logs to debug the issue closely. Could you please share entire Appium logs using gist.

[2020-02-27 09:33] truongsinh commented on #39
@ahashmi24 any update?

[2020-02-28 03:49] HoLeAnh commented on #63
@shibupanda there are any solution for my problem ?

[2020-02-28 05:47] Hemanth-resideo commented on #39
@truongsinh  i have tried with the latest changes of flutter driver but the execution got stuck after it initiated iproxy command, it didn't
[Appium Logs.docx](https://github.com/truongsinh/appium-flutter-driver/files/4265406/Appium.Logs.docx)

 proceed further even after waiting for more than 5 mins.

Attached appium logs

[2020-02-28 08:56] nowo commented on #63
I have the same problem. Please inform me .

[2020-02-28 15:12] truongsinh commented on #39
Thanks for reporting, @Hemanth-Rezi, reading from the log, it seems it's doing fine until
[code]
The latest driver wait until this command returns, which I'm not sure it should (wait). Anybody here has experience with iproxy? Otherwise I really need to get my hands on a physical iphone before I can continue.

Anyway, it's likely that I can borrow an physical real iPhone on 10th of March.

[2020-02-28 17:19] shibupanda commented on #39
Hi @truongsinh Even I don't have the iOS set up with me I may spend some time in my workspace.
I don't have much on iProxy but I may put some point which can help.

Please have a look on below link
https://github.com/appium/appium-xcuitest-driver/blob/master/lib/device-connections-factory.js

If we can make a use of it I guess our problem will be resolved. Please let me know your thought on this.

[2020-03-03 19:53] ahashmi24 commented on #40
@truongsinh
Yes, it is throwing an exception on 6th step.

[2020-03-04 06:44] kirill09 commented on #28
Hey, I'm still experimenting.
Got the test project https://github.com/kirill09/flutter-appium-example.
Tried running tests on a real Google pixel android 10 device.
It's working fine.
I create Virtual Device via android SDK

`Name: Pixel_2_API_27
CPU/ABI: Google Play Intel Atom (x86)
Path: /Users/kirillbelyshev/.android/avd/Pixel_2_API_27.avd
Target: google_apis_playstore [Google Play] (API level

[2020-03-04 07:53] kirill09 commented on #28
I ran two more tests:
1) Virtual Device android 10. The result is successful completion of tests
2)Virtual Device android 9. Got the result an error.

Configuration 1:
Name: Pixel_2_API_29
CPU/ABI: Google Play Intel Atom (x86)
Path: /Users/kirillbelyshev/.android/avd/Pixel_2_API_29.avd
Target: google_apis_playstore [Google Play] (API level 29)
Skin: pixel_2
SD Card: 512M
fastboot.chosenSnapshotFil

[2020-03-04 07:55] kirill09 commented on #28
Maybe the appium-flutter-driver works correctly with android API level 29?

[2020-03-04 09:04] CarrotXin opened #64 "Unable to use flutter in appium with python client"
Hi:
        After install appium-flutter-driver and refrenced with the example.py
        capabilities = {
                "platformName": "android",
                "deviceName": "Samsung Galaxy S7_2",
                "platformVersion": "7.1.1",
                "automationName": "flutter",
                "app": "/Users/yjf/opt/anaconda3/envs/ef_mobile_automation/mobile/interfaces/client_ui/apps/

[2020-03-04 09:09] Rodaxfck commented on #64
Hello,

Maybe you don't have [appium](https://github.com/appium/appium/releases) 1.16.0 (beta support for Flutter) installed

[2020-03-04 09:36] CarrotXin commented on #64
@Rodaxfck ,
Hello,
(mobile_automation) yujianfengdeMacBook-Pro:appium yjf$ appium -v
1.16.0-beta.2

The correct appium verison should be?Thanks a lot.

[2020-03-04 09:57] #64 closed

[2020-03-05 02:49] CarrotXin opened #65 "Python using flutter driver"
Hi:
    Referenced with the example code under python demo dir,  it can't work well.
    I have some questions:
    (1)  Is the flutter-appium-finder newest code?
    (2)  Can this package work well with python3.7?

Something wrong with base64 encode in _serialize with python3.7
def _serialize(self, finder_dict):
        return base64.b64encode(json.dumps(finder_dict))

[2020-03-05 03:19] CarrotXin commented on #65
Hi:
    Another question:
    capabilities = {
  "platformName": "android",
  "deviceName": "Samsung Galaxy S7_2",
  "platformVersion": "7.1.1",
  "automationName": "flutter",
  "autoGrantPermissions": True,
  "adbExecTimeout": 60000,
  "newCommandTimeout": 7200,
  "appPackage": "com.xxx.xxx.xxx.xxx",
  "appActivity": "com.xxx.xxx.xxx.xxx.xxx.activity.xxx",
  "app": "/Users/yjf/opt/anaconda3/envs/

[2020-03-05 13:42] Rodaxfck commented on #65
Hello,

For the first question, I also in my case experienced an issue with python 3.7 an this function...

I fixed it myself by editing the function :

def _serialize(self, finder_dict):
        return base64.b64encode(bytes(json.dumps(finder_dict).encode('utf-8'))).decode('utf-8')

These is for sure a better way to fix this because I don't know python, but it works for me!

[2020-03-06 02:28] CarrotXin commented on #65
Hello Rodaxfck :

        Do you use python client to send_key and have some examples? Thanks.

[2020-03-06 05:31] CarrotXin commented on #65
Hi:
     After reading https://github.com/truongsinh/appium-flutter-driver , I want to ask:
    If I use enterText, the url of this operation should be?
    With python client, requests are send as following:
    /session/$sessionId/appium/element/$id/replace_value
   Where can I get all urls supported with appium-flutter-driver?

[2020-03-06 08:14] Rodaxfck commented on #65
In your case sendKeys should work (http://appium.io/docs/en/commands/element/actions/send-keys/)

driver = Remote('http://localhost:4723/wd/hub', capabilities)
finder = FlutterFinder()
test = 'Try something'
text_finder = finder.by_text(test)
element = FlutterElement(driver, text_finder)
element.send_keys(text)

[2020-03-06 08:56] CarrotXin commented on #65
Hello Rodaxfck:
       Appreciated!
       I used the '/session/$sessionId/element/$id/value' and it seems to work (no errors).
       But no response return and after long time, errors are raised:
       Traceback (most recent call last):
  File "/Users/yjf/opt/anaconda3/lib/python3.7/site-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/Users/yjf/opt/anacon

[2020-03-07 05:14] #65 closed

[2020-03-09 16:08] truongsinh commented on #28
Possible but improbable. Btw, did you check out the latest branch, which include the commit https://github.com/truongsinh/appium-flutter-driver/commit/395177e03afeeb5e8804b9c989e6572795012de1 ? It's supposed to have much more log

[2020-03-11 20:30] ahashmi24 opened #67 "Scrolling doesn't work for the Text keyValue"
**Appium version :** v1.17.0-beta.1

**Appium logs:**
https://gist.github.com/ahashmi24/62e7638996d5da6b0d6bca02a5ae7f89

**Using below code snippet to perform scrolling:**
driver.executeScript("flutter:scrollUntilVisible", find.byKey("uniqueListView"), new HashMap<String, Object>() {{
      put("item", find.byKey("uniqueKeyForVisibleTextOnScreen"));
      put("dxScroll", 90);
      put("dyScroll"

[2020-03-12 01:53] hbolin opened #68 "Request failed due to unknown method: Method is not implemented"
An error occurred when I ran the demo at the following address：
https://github.com/truongsinh/appium-flutter-driver/tree/master/example/nodejs

The error:
2020-03-12T01:44:59.143Z ERROR webdriver: Request failed due to unknown method: Method is not implemented
    at getErrorFromResponseBody (D:\Tests\Appium\node_modules\webdriver\build\utils.js:124:10)
    at Request._callback (D:\Tests\Appium\no

[2020-03-16 07:27] hbolin commented on #68
automationName: "Flutter" should be add. like:
const opts2 = {
  port: 4723,
  capabilities: {
    platformName: "Android",
    platformVersion: "8",
    deviceName: "one plus",
    app: "D:/Tests/Appium/android-real-debug.apk",
    automationName: "Flutter"
  }
};

[2020-03-16 07:27] #68 closed

[2020-03-17 03:29] hbolin opened #70 "How should I set the automationName when I use mixed native android and flutter code"
My app uses the flutter_boost framework, so the app has both native andriod code and flutter code. When I set the automationName to "Flutter", the flutter code can be tested. When I don't set the automationName, the native android code can be tested. How should I set the automationName in order to test the native android code and flutter code together.

[2020-03-17 06:49] #70 closed

[2020-03-21 02:40] shibupanda commented on #57
@pradarttana-sharechat
Could you please update on the same.

[2020-03-21 02:43] shibupanda commented on #36
@LDouble could you please provide us the example for it.

[2020-03-24 15:29] ezuluagas opened #72 "java.lang.NoClassDefFoundError: kotlin/jvm/internal/Intrinsics"
i can't run the test in JAVA, i'm getting this error when i execute the test, in the line find = new FlutterFinder(driver);

(ReflectiveCallable)
**java.lang.NoClassDefFoundError: kotlin/jvm/internal/Intrinsics

	at pro.truongsinh.appium_flutter.FlutterFinder.<init>(FlutterFinder.kt)
	at example.appium.FlutterTest.setUp(FlutterTest.java:25)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native M

[2020-03-24 16:17] shibupanda commented on #72
cc @truongsinh I think the latest kotlin repository is quite older the fixes is not there. Can we publish it with new version?

@ezuluagas time being please add below dependency also in pom.xml.
https://mvnrepository.com/artifact/org.jetbrains.kotlinx/kotlinx-serialization-runtime/0.14.0

[2020-04-01 20:00] #72 closed

[2020-04-10 11:19] waitan2018 opened #73 "An element command failed because the referenced element is no longer attached to the DOM"
##Error when executing element.text method:
**An element command failed because the referenced element is no longer attached to the DOM**

##My code:

[code]

##Environment：
-- macOS
-- Python
-- iOS Real device
-- Appium 1.17.0

[2020-04-10 11:27] waitan2018 opened #74 "Error when using ["automationName": "Flutter"] parameter!"
##My code:
[code]

<img width="650" alt="2" src="https://user-images.githubusercontent.com/43815450/78987685-46515180-7b61-11ea-8cb0-cfa831745ec4.png">

[2020-04-11 15:01] waitan2018 commented on #39
## i also have this problem, after I use the iproxy command, i have new problems, hope you guys can help me, thank you very much:

[FlutterDriver] Attempt #1
[FlutterDriver] Connecting to Dart Observatory: ws://127.0.0.1:55526/cNR0UNT9OdM=/ws
[FlutterDriver] Error: connect ECONNREFUSED 127.0.0.1:55526
[FlutterDriver]     at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1056:14)
[FlutterDrive

[2020-04-11 15:03] #74 closed

[2020-04-11 18:17] #57 closed

[2020-04-15 09:00] hbolin opened #75 "How to test on multi devices?"
When I test on multi devices. It throws the following error:
It looks like the error caused by FlutterDriver using “adb forward”.

[code]

When I comment the following codes, It can run. But can't test flutter code
flutterCapabilities.setCapability ("automationName", "Flutter");

[2020-04-24 08:34] boro741 opened #76 "Unable to set picker element in Flutter-Android"
Picker element is native for IOS apps. But by using Flutter we have integrated the Picker element.

I have written the following code. But it doesn't scroll the picker or set any value.
`FlutterFinder ele = new FlutterFinder(driver);
ele.byValueKey("humidity_above").sendKeys("90%");`

Also, tried
`ele.byValueKey("humidity_above").setValue("90%");`

or
`ele.byValueKey("humidity_above").getText();`

[2020-04-24 10:53] #76 closed

[2020-04-29 20:28] shibupanda commented on #75
@hbolin
Please share the complete logs using gist.

[2020-04-29 20:29] shibupanda commented on #42
Closing the issue due to inactivity. Please feel free to reopen.

[2020-04-29 20:29] #42 closed

[2020-04-29 20:32] shibupanda commented on #73
@waitan2018
Use automationName as Flutter to automate flutter application.

[2020-04-30 06:40] waitan2018 commented on #73
Ok, I have solved this problem, thank you very much for your reply.

[2020-04-30 06:41] #73 closed

[2020-05-03 18:48] YahyaQandel opened #77 "Error: Failed to create session. read ECONNRESET"
Appium version : 1.17.0
Application : flutter app
test runner : mocha

[code]

when i change **automationName** from **Flutter** to **UIAutomator2** it works, i don't know how it should work I have installed appium-flutter-driver but i don't know how to use it .
i'm just starting appium in another terminal screen as i was using it before .

Appium logs:

[code]

[2020-05-03 21:34] shibupanda commented on #77
@YahyaQandel
Could you please send the complete logs using gist.
For flutter application you can only use automationName as Flutter.

[2020-05-04 11:39] YahyaQandel commented on #77
Here it is
https://gist.github.com/YahyaQandel/029f2bf5a9a2d572b5acb0eda79df344

[2020-05-04 11:50] shibupanda commented on #77
hi @YahyaQandel which version of appium it is? As the logs are not complete I am not able to see appium server version. Please send me the complete logs started from Appium server.

[2020-05-04 11:53] shibupanda commented on #77
Ok I will check from my side.

No need to install it separately.

[2020-05-04 21:27] tdalbo92 opened #78 "Update rpc-websockets to ^5.1.1"
The current `rpc-websockets` dependency has a transitive dependency on `debug`:`2.2.0` which is linked to CVE-2017-16137

[2020-05-04 21:33] shibupanda commented on #78
Thanks @tdalbo92 for such a useful information.
We'll create a PR.

[2020-05-04 23:38] YahyaQandel commented on #77
Thanks great, thanks for your collaboration

[2020-05-04 23:38] YahyaQandel commented on #77
Is there a toy project for appium testing flutter app with appium-flutter-driver ?

[2020-05-05 22:07] YahyaQandel commented on #77
Any solution ?

[2020-05-06 20:42] shibupanda commented on #77
@YahyaQandel I will validate it in this weekend.
Mean time please uninstall and install appium once and don't install appium-flutter-driver separately as it comes as a bundle with appium,

You can refer https://github.com/truongsinh/appium-flutter-driver/tree/master/example.

[2020-05-06 22:25] paulmccormack opened #81 "C# bindings for appium flutter driver/finder"
Is it possible to use the appium flutter driver in a C# automation framework.  I could only find a java example.

[2020-05-07 01:09] shibupanda commented on #81
Currently we don't have. PRs are welcome.

[2020-05-11 09:46] rex-wong opened #82 "Disable to creation Session with native app with flutter module on real android device"
### Description ###
Failing to make a connection by returning Encountered internal error running command: TypeError: Cannot read property 'match' of undefined from dart observatory

### Environment ###
Appium verison: 1.17.0
Android verison: 9.0.0

### Link to Appium log ###
https://github.com/rex-wong/appium_test_1589188767195/blob/master/appium_202005111735.log

[2020-05-11 10:09] shibupanda commented on #82
@rex-wong
Could you please try with 1.16.0 if possible and see if this issue is exists in this version.

[2020-05-11 10:10] #78 closed

[2020-05-11 10:12] shibupanda commented on #82
cc @truongsinh

[2020-05-12 01:47] rex-wong commented on #82
I've try with 1.16.0 which re-produce the result as same as 1.17.0 of session directly closed by exception of property of undefine is reached

**Environment**
Appium verison: 1.16.0
Android verison: 9.0.0

**Link to Appium log**
https://github.com/rex-wong/appium_test_1589188767195/blob/master/appium_202005120944.log

[2020-05-12 20:52] shibupanda commented on #82
@rex-wong
Are you using Appium CLI or Appium desktop server?

[2020-05-12 20:56] shibupanda commented on #77
@YahyaQandel
Please check https://github.com/truongsinh/appium-flutter-driver/issues/82

Closing due to duplicate issue.

[2020-05-12 20:56] #77 closed

[2020-05-13 01:14] rex-wong commented on #82
yes. it is using Appium CLI for the test.

[2020-05-13 01:31] shibupanda commented on #82
Ok. Could you please send me the env details.
Dart and flutter version details.
Seems not reproducible for me.

[2020-05-13 02:13] rex-wong commented on #82
**Information from flutter and Dart as below:**
Flutter 1.14.6 • channel beta • https://github.com/flutter/flutter.git
Framework • revision fabeb2a16f (4 months ago) • 2020-01-28 07:56:51 -0800
Engine • revision c4229bfbba
Tools • Dart 2.8.0 (build 2.8.0-dev.5.0 fc3af737c7)

**Information shown from appium-doctor as below:**
info AppiumDoctor Appium Doctor v.1.13.0
info AppiumDoctor ### Diagnostic

[2020-05-13 06:03] rex-wong commented on #82
there's some updates about the environment setup that this side tried several real devices for test which some launch session in success and some launch in failure with the same result that I post at the beginning:

**Devices 2**
Samsung Note 9
Android version: 9
Test Result: Success

**Devices 3**
Huawei Y9
Android version: 9
Test Result: Failure

**Devices 1**
LG Q6 PLus
Android version: 7.1.1
T

[2020-05-21 06:22] davidyukav commented on #28
Hi!
Im got some logs to share. I hope it'll be helpfull

Most often log looks like:
`[FlutterDriver] Attempt #1
[FlutterDriver] Connecting to Dart Observatory: ws://127.0.0.1:41330/fEEPmkSE-eE=/ws
[FlutterDriver] Connected to ws://127.0.0.1:41330/fEEPmkSE-eE=/ws
[FlutterDriver] Listing all isolates: [{"type":"@Isolate","id":"isolates/873273334157827","name":"main","number":"873273334157827"}]
[Flu

[2020-05-25 11:06] greyhamwoohoo opened #84 ""Error: durationMilliseconds is not a valid options" - flutter:waitForAbsent/flutter:waitFor wait.ts parameter mismatch?"
The following line from 'index.js' will show the problem:

[code]

This fails in the driver logs:

[code]

*Constructor Signature?*
The parameter expected in wait.ts is 'durationMilliseconds: number':

[code]

Wait.ts Version: https://github.com/truongsinh/appium-flutter-driver/commit/c5b66c5627f8c0e9b40918a46dadaf086f1038a2

However, the Node tests are passing in a structure: { durationMillisecon

[2020-05-28 08:27] danielcYOU commented on #39
hi all, I was wondering if anyone managed to make any progress with this issue and get tests to run on real iOS Device?
I have just tried the latest Appium Flutter Driver 0.0.24-1 but get the same issue mentioned in earlier comment of being stuck at the iproxy command.

[FlutterDriver] Running on iOS real device, doing "iproxy" now
[debug] [FlutterDriver] iproxy 60919 60919 cbfc3c66708111e5a48ad06

[2020-05-30 05:24] KazuCocoa commented on #39
Appium stopped to use iproxy (https://github.com/libimobiledevice/libimobiledevice) to reduce 3rd party library issue since Appium 1.15.0. (the naming still remain though)
Instead, Appium communicates with `usbmuxd` directly via https://github.com/appium/appium-ios-device .
https://github.com/appium/appium-xcuitest-driver/blob/c7d8311559f53d8d7214ac0828e5bbf762762042/lib/driver.js#L492 may help th

[2020-06-11 07:49] rilham97 opened #85 "org.openqa.selenium.UnsupportedCommandException: Method is not implemented"
I create an automation using Java and cucumber and when I ran the program

[code]
Here the output

[code]

[2020-06-11 08:44] shibupanda commented on #85
@rilham97
Could you please share complete Appium Logs using GIST.

[2020-06-11 23:14] rilham97 commented on #85
Here the complete Appium Logs
<script src="https://gist.github.com/rilham97/06106bf2b1b57805fb7b154225bb3423.js"></script>

[2020-06-12 13:29] shibupanda commented on #85
@rilham97
use automationName = Flutter in the capability.

[2020-06-16 02:14] rilham97 commented on #85
@shibupanda Now the application can't be opened and got an error

[code]

[2020-06-16 02:43] shibupanda commented on #85
@rilham97
Is this an debug application. Looks flutterDriverExtension is not enabled.

Please enable it.

[2020-06-18 01:27] rilham97 commented on #85
Thank you, I can run automated testing clearly but now the problem is the android keyboard is not shown

[2020-06-25 09:17] pripriya2 commented on #82
Is their any fix for this ? Please help as its blocking me to proceed further

[2020-06-25 11:12] alexshikov commented on #84
I'm having the same issue. How this can be worked around?

[2020-06-26 08:42] alexshikov commented on #39
@waitan2018 I had the same issue and the fix was to add `enableFlutterDriverExtension();` to the `void main()` method of the application (not the test). So my `main.dart` looks like that:

[code]

[2020-07-02 07:14] pripriya2 commented on #39
Hi @KazuCocoa I am using Appium 1.16.0 and facing the Issue.
I could see it uses usbmuxd, but I am not able to understand that how would i find the workAround of this Issue
[FlutterDriver] Attempt #1
[FlutterDriver] Connecting to Dart Observatory: ws://127.0.0.1:57496/zGG5BKi7gEI=/ws
[FlutterDriver] Error: connect ECONNREFUSED 127.0.0.1:57496
[FlutterDriver]     at TCPConnectWrap.afterConnect [as

[2020-07-02 07:30] Hemanth-Rezi commented on #39
_**### > [FlutterDriver] Error: connect ECONNREFUSED 127.0.0.1:57496**_

@pripriya2 Based on your logs the port no ur device trying to connect  is 57496. Use command iproxy 57496 57496 to establish connection.
PS: every time when dart observatory is started the port num changes, u have to use the same port in which ur dart observatory is trying to connect

[2020-07-10 09:28] rex-wong opened #87 "Java flutter element return from finder does not indicate it is rendered from display"
**Description**

It is found that the finder.byValueKey function will not return in error or null while such element is not rendered from screen or not exist.
Further check with driver log figured that no api call is raise to flutter driver with such function. In fact api call would only raise to flutter driver while further detail method or property is called like getText(). Such implementation i

[2020-07-12 16:54] chinloyal opened #88 "How do you get firstMatchOnly with appium-flutter-finder"
For example on the flutter_driver api for the [descendant](https://api.flutter.dev/flutter/flutter_driver/CommonFinders/descendant.html) method has a firstMatchOnly option.
[code]

Is there some way I can get this functionality with the existing appium features. Or will this be added soon

[2020-07-15 16:19] paolaguajardo opened #89 "Unable to connect to Dart Observatory when interacting with animated elements"
### Connecting to Dart Observatory (Error: socket hang up)

The application we are testing render the flutter widgets through a JSON received from a service, and when we try to interact with flutter commands we get stuck on the error below:

[FlutterDriver] Attempt #4
[FlutterDriver] Connecting to Dart Observatory: ws://127.0.0.1:42607/gkBx8RFNCJc=/ws
[FlutterDriver] Error: socket hang up
[Flutter

[2020-07-17 09:32] gofur commented on #28
any update for this issue?

[2020-07-22 00:20] romariochinloy opened #90 "What's stopping the requestData method from being implemented?"
I understand that the webview testing is blocked because of a missing implementation in flutter_driver, so I am unable to test my login, one solution is to mock the login using DataHandler in flutter which requires the use of `requestData`.

[2020-07-22 03:55] shibupanda commented on #90
PRs are welcome.

[2020-07-25 14:18] ravijha-adi opened #91 "Getting org.openqa.selenium.WebDriverException: An unknown server-side error occurred while processing the command."
Getting issue on each command apart from find. I am using maven project for java-appium, In that i have uploaded jar provided on https://github.com/truongsinh/appium-flutter-driver/releases through maven.

               	driver.context("NATIVE_APP");
		MobileElement userField = find.text("Username");
		userField.click();
		userField.clear();
		driver.executeScript("flutter:enterText", "abc");

Ge

[2020-07-25 16:01] shibupanda commented on #91
@ravijha-adi
Please provide complete Appium logs using GIST.

[2020-07-25 17:09] ravijha-adi commented on #91
Now appium server is getting struck here.

[info] [Appium] Welcome to Appium v1.17.1
[info] [Appium] Non-default server args:
[info] [Appium]   address: 127.0.0.1
[info] [Appium]   allowInsecure: {
[info] [Appium]   }
[info] [Appium]   denyInsecure: {
[info] [Appium]   }
[info] [Appium] Appium REST http interface listener started on 127.0.0.1:4723[info] [HTTP] [37m-->[39m [37mPOST[39m [37m/wd

[2020-07-25 20:38] shibupanda commented on #91
error] [FlutterDriver] "ext.flutter.driver" is not found in "extensionRPCs" 

Please enableFlutterConnection while build the application. Release build can't be automateble.

[2020-07-26 07:19] ravijha-adi commented on #91
enableFlutterDriverExtension  It is already enabled by devlopers on given build

[2020-07-26 08:11] shibupanda commented on #91
Nothing much we can do it here as it is not coming in `extensionRPC` array.

Please try with latest appium-flutter-driver v0.0.25 if it can help you. https://www.npmjs.com/package/appium-flutter-driver

[2020-07-26 11:12] ravijha-adi commented on #91
@shibupanda  the struck issue is resolved, but facing matchType in  at Object.exports.processLogToGetobservatory (/usr/local/lib/node_modules/appium/node_modules/appium-flutter-driver/build/driver/lib/sessions/observatory.js:128:9)

Here is the complete log

Last login: Sun Jul 26 15:39:01 on ttys001
mohans-MacBook-Air:~ mohanduggi$ appium -a 127.0.0.1 -p 4723 --relaxed-security
[Appium] Welcome t

[2020-07-27 09:26] ravijha-adi commented on #39
@Hemanth-Rezi  how to set the the static port for dart observatory? could you provide the step here please. And how about the Android with Windows do we need to set static port for adb forward tcp tcp?

[2020-07-27 09:30] ravijha-adi commented on #82
could anyone provide the working configuration for java. example - used appium version, appium-flutter-driver version, android version, maven version etc

[2020-07-27 10:02] pripriya2 commented on #82
You can Use:
@ravijha-adi
appium 1.16.0
Samsung S9 OS version: 9
On running flutter doctor:
flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, 1.20.0-3.0.pre, on Mac OS X 10.15.5 19F101, locale en-IN)

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 11.5)
[!] Android S

[2020-07-27 10:06] pripriya2 commented on #82
Your Issue looks more of a dev Issue.
Reason: developer needs to add support for Flutter automation in their code.
In the main.dart file of thier app before calling main() they need to call enableFlutterDriverExtension();
https://developer.aliyun.com/mirror/npm/package/appium-flutter-driver

[2020-07-27 10:20] Hemanth-Rezi commented on #39
@ravijha-adi
For Mac machine just type **iproxy local port device port** in terminal
i haven't tried in windows machine but you can try with this command **adb forward tcp:6100 tcp:7100**

[2020-07-27 15:46] ravijha-adi commented on #39
@Hemanth-Rezi  [debug] [FlutterDriver] C:\Program Files\Android\Sdk\platform-tools\adb.exe forward tcp:36988 tcp:36988 the tcp ip is coming at runtime and everytime it is different then how to handle this situation?

[2020-07-27 17:11] shibupanda commented on #39
@ravijha-adi
This issue is related to iOS (corner case) that we are working on it. Should not get the same for Android, mean no need to do port forwarding manually.
Could you please create a different issue for Android with all the details with the logs.

[2020-08-01 09:10] shibupanda commented on #91
@ravijha-adi
Could you please run `flutter doctor`
[flutter doctor](https://flutter.dev/docs/get-started/install/linux) (`This may differ from OS to OS`)

[2020-08-01 10:01] shibupanda commented on #88
@chinloyal
Thanks for the update. I will try to add this to finders.

[2020-08-01 10:55] shibupanda commented on #40
@truongsinh looks like @jonahwilliams added caveats for this.
https://github.com/flutter/flutter/pull/50017.
Whether we need to add it in our README file as well.

[2020-08-01 13:24] shibupanda commented on #39
@truongsinh create a PR which include Spawn (child process).
Can we create a bump version on it.
https://github.com/truongsinh/appium-flutter-driver/pull/92

[2020-08-03 09:45] harih71research commented on #41
@truongsinh @shibupanda  Hi this hari, I saw your works , its great and good effort, i have  one issue wiith flutter fiinder, if i try find.text("Enter your mobile number").click(); any other find am getting nothing for long time, its simply in showing this message

" POST /wd/hub/session/ad98101b-5142-4671-80b7-a4f275b64e31/element/eyJmaW5kZXJUeXBlIjoiQnlUZXh0IiwidGV4dCI6IkVudGVyIHlvdXIgbW9iaWxlI

[2020-08-03 09:46] harih71research commented on #41
This is my java code

dc.setCapability("platformVersion", "10");
	    dc.setCapability("deviceName", "803KPSL1691678");
	    dc.setCapability("noReset", true);
	    dc.setCapability("app", "C:\\Users\\mhariharan\\Downloads\\myFHB\\myfhb\\build\\app\\outputs\\apk\\debug\\app-debug.apk");
	    dc.setCapability("automationName", "Flutter");
	    dc.setCapability("newCommandTimeout", "36000");
	    dr

[2020-08-03 09:47] harih71research opened #94 "@truongsinh @shibupanda Hi this hari, I saw your works , its great and good effort, i have one issue wiith flutter fiinder, if i try find.text("Enter your mobile number").click(); any other find am getting nothing for long time, its simply in showing this message"
@truongsinh @shibupanda  Hi this hari, I saw your works , its great and good effort, i have  one issue wiith flutter fiinder, if i try find.text("Enter your mobile number").click(); any other find am getting nothing for long time, its simply in showing this message

" POST /wd/hub/session/ad98101b-5142-4671-80b7-a4f275b64e31/element/eyJmaW5kZXJUeXBlIjoiQnlUZXh0IiwidGV4dCI6IkVudGVyIHlvdXIgbW9iaWxlI

[2020-08-03 09:54] shibupanda commented on #94
@harih71research
Did you check 'Enter your mobile number' text is available in flutter widget. Looks like it is not available.
Please check with the dev team once for the finders. As of now we don't have inspector for flutter app available. Please share the widget tree if possible.

[2020-08-04 13:38] greyhamwoohoo commented on #91
I encountered both of the issues above when setting up Appium Flutter tests on CI/CD.

For reference: this is how I resolved them in my case:

**match/undefined exception:**
This occurs when the Observatory entry cannot be found in the Android adb logcat output. ie: appium-flutter-driver expects something like this to turn up in the logcat output:

`
08-02 09:45:38.874  8396  8450 I flutter : Obse

[2020-08-04 14:43] shibupanda commented on #91
@greyhamwoohoo

Yes exactly. I am trying to figure it out why this is missing in logcat. If by adding ` <uses-permission android:name="android.permission.INTERNET"/>` can solve then we should add this in Readme. It's great if you can monitor this for sometimes then we may create a PR on it.

[2020-08-04 15:24] greyhamwoohoo commented on #91
I am able to repeat the problem 100% with the following ritual using my [Flutter Test App](https://github.com/greyhamwoohoo/appium-flutter-driver-net-bindings-test-app):

Green Path:
1. Wipe the AVD Device (important!)
2. Confirm the uses-permission line in [src/main/AndroidManifest.xml](https://github.com/greyhamwoohoo/appium-flutter-driver-net-bindings-test-app/blob/master/src/howdi_welt/android

[2020-08-04 15:32] shibupanda commented on #91
Thanks for the update @greyhamwoohoo will update the readme in caveats sections.

[2020-08-05 04:21] shibupanda commented on #89
@paolaguajardo
Could you please help me with the application so I may help you on it.
And please send the complete Appium Server logs using GIST.

[2020-08-05 15:56] ravijha-adi commented on #44
currently any possible workaround for this ?

[2020-08-06 20:12] ravijha-adi opened #95 "Getting multiple element on find.byType() and error thrown for this"
Hi,

Getting multiple element on using find.byType and unable to perform any action. Is there any way to store these in a List like we do for appium driver in findElements method?  or can we do indexing for locator like we do in xpaths By.xpath("element[2]");

or any example for descendant &  ancestor to select the element based on other element. I tried the descendant example provided in java sam

[2020-08-07 03:21] shibupanda commented on #95
Hi @ravijha-adi
There is no such locator has been exposed in flutter till now.
Please check below code for sample app and test code.
https://github.com/truongsinh/appium-flutter-driver/tree/master/example

[2020-08-07 03:28] shibupanda commented on #87
HI @rex-wong
There is an open issue there in flutter.
So time being you can do have work around like **assume that if the wait times out that the element is not in the widget tree**
https://github.com/flutter/flutter/issues/15852

[2020-08-07 03:40] shibupanda commented on #82
Hi @rex-wong @pripriya2 please check
https://github.com/truongsinh/appium-flutter-driver/issues/91

As per the analysis it needs to add below permission in app. Please try and let us know
<uses-permission android:name="android.permission.INTERNET"/>

[2020-08-07 16:48] ravijha-adi commented on #95
@shibupanda  in java example on line no 74 under FlutterTest.java  assertEquals(find.descendant(find.byTooltip("counter_tooltip"), find.byValueKey("counter")).getText(), "3");

Could you explain the this find.descendant methood what is the arg1 and arg2 refer here?

It will be very helpful if any method is there to grab the child element for an perticular element.

[2020-08-08 05:37] shibupanda commented on #95
https://api.flutter.dev/flutter/flutter_test/CommonFinders/descendant.html

[2020-08-08 05:46] shibupanda commented on #28
We have updated lastest version.
Could you please try with the latest version of appium-flutter-driver.

[2020-08-10 10:43] davidjohnmaccallum commented on #82
I ran into this issue and solved it as follows:

1. Add enableFlutterDriverExtension() call before runApp().
1. Ensure that APK was built in debug mode. I did this using `flutter run`. DONT use `flutter build` to create the APK.

[2020-08-10 21:40] dannysood commented on #28
@shibupanda Sadly even with the latest update the issue is not going away.

[2020-08-10 23:06] dannysood commented on #28
I have tried a few different things. I have tried switching to various different versions of appium, appium-flutter-driver and flutter. However there's been very little success. Randomly after reinstalling the package it works or after waiting a while it may. But sadly its totally unpredictable and probably works once every 30 tries. I havent been able to identify any pattern. However I would appr

[2020-08-11 02:43] shibupanda commented on #28
@dannysood
Could you please have a look on this.
Please let us know if this can fix your issue.

https://github.com/truongsinh/appium-flutter-driver/issues/91

[2020-08-11 02:59] rex-wong commented on #87
It is unfortunate that the API provide from  your side (the waitFor command) in Java client doesn't apply the timeout. Checked that the wait timeout should be a parameter from flutter API

[2020-08-11 04:18] shibupanda commented on #87
@rex-wong
This has been added already.

[2020-08-11 09:21] dannysood commented on #28
@shibupanda I have tried the proposed solution and havent been able to get it working sadly. It hasnt worked even once sadly.  Is there anything else I am missing. Can you tell me your configuration if this is working for you (android sdk version, appium version, driver version etc). I am on macos.

[2020-08-11 09:24] shibupanda commented on #28
@dannysood
Strange! Did you include enableFlutterExtension() in the debug app?
Please refer https://github.com/truongsinh/appium-flutter-driver/blob/326967b44ed6b86cda65c48bf8840f62643c827b/example/flutter_app_under_test/lib/main.dart#L9

[2020-08-11 10:16] dannysood commented on #28
First really appreciate you being so prompt and helping out with the solution. When this issue is resolved I would love to contribute some functionality from the TODOs. I have added this but still isnt working. Maybe reviewing the different dependencies like dart, flutter, sdk used, avm configuration, appium version and driver version etc) can be of some help. I am on the latest version of macos i

[2020-08-11 10:34] shibupanda commented on #28
@dannysood
Please run flutter doctor.
And please the complete Appium server logs which can help me to debug the issue. If possible please try once with our sample application as well.
Please share reproducible apk if you have need to identify where the issue is.

[2020-08-12 03:20] joyce0101 opened #96 "Switch to webview, the pagesource obtained is still a native element"
hello，
After clicking the element with flutter, switch to the webview page, you can switch normally, but the H5 element cannot be obtained, and the printed pagesource is also a native element。
My environment is Android 10, python, the following is the source code and the printed log：
`class FlutterTest(unittest.TestCase):
    def setUp(self):
        desired_caps = {}
        desired_caps['platfor

[2020-08-12 04:18] shibupanda commented on #85
@rilham97
I think yes there is some caveats from Flutter itself but still you should able to send the keys to the text box.
Closing the issue for now please reopen if needed.

[2020-08-12 04:18] #85 closed

[2020-08-12 04:20] shibupanda commented on #87
Close as this is not a bug from appium-flutter-deriver.

[2020-08-12 04:20] #87 closed

[2020-08-12 05:18] rex-wong commented on #91
It is still found that the waitFor and waitForAbsent command will return as `Encountered internal error running command: Error: durationMilliseconds is not a valid options` when adding parameter for durationMilliseconds

Given log as below:
`[HTTP] <-- POST /wd/hub/session/58e9ec26-13ab-460c-ba16-2e1f9adc9b08/execute 500 6 ms - 211
[HTTP]
[HTTP] --> POST /wd/hub/session/58e9ec26-13ab-460c-ba16-2e1

[2020-08-12 05:41] shibupanda commented on #91
@rex-wong
I think I need to update example.
Now it is something like `driver.executeScript("flutter:waitFor", buttonFinder);` which has default timeout 1000 ms.
If you want to increase timeout `driver.executeScript("flutter:waitFor", buttonFinder, 1);`
NOTE: Last parameter is in seconds. Please check and let me know. Will update the example code in the weekend.

[2020-08-12 07:35] joyce0101 commented on #96
I found that todolist says that it does not support switching between Flutter and Webview. I would like to ask, is it currently not supported?
![image](https://user-images.githubusercontent.com/28685009/89987977-78122a80-dcb1-11ea-84d7-6fac658094c3.png)

[2020-08-12 08:47] dannysood commented on #28
@shibupanda when I build flutter_app_under_test on my macos machine and test it via nodejs example it shows the same error (`ext.flutter.driver` not found) (after updating the apk path) however when I use your pre built version of apk (downloaded from releases) as mentioned in nodejs example it works as expected. For some reason my builds (i have tried both --debug and --profile) dont integrate in

[2020-08-12 19:46] shibupanda commented on #28
@dannysood
Below is my machine configuration.
$ dart --version
Dart SDK version: 2.10.0-11.0.dev (dev) (Tue Aug 11 02:21:48 2020 -0700) on "linux_x64"
$ flutter --version
Flutter 1.21.0-10.0.pre.55 • channel master • https://github.com/flutter/flutter.git
Framework • revision 54f21ec7aa (8 hours ago) • 2020-08-12 08:01:03 -0400
Engine • revision ccfc7e5179
Tools • Dart 2.10.0 (build 2.10.0-11.0.de

[2020-08-12 19:47] rtiedt1051 commented on #28
I also have this issue,  on Windows OS with an Android emulator, if happens 75% the time and then connects after 300 seconds.. On Mac OS with an Android Emulator it happens 100% of the time and then connects after 300 seconds.  On Mac OS with iOS simulator it works correctly every time.

[35m[FlutterDriver][39m Attempt #1
[35m[FlutterDriver][39m Connecting to Dart Observatory: ws://127.0.0.1:3

[2020-08-13 01:32] rex-wong commented on #91
@shibupanda
You are correct. Only the example is not reference to that update and the last parameter is not passing correctly. Thanks for your great help

[2020-08-13 04:34] #91 closed

[2020-08-13 12:24] greyhamwoohoo commented on #84
Conclusion (as part of another thread and email discussions):

https://github.com/truongsinh/appium-flutter-driver/issues/91

The last parameter should be in seconds; I will close this issue.

[2020-08-13 12:24] #84 closed

[2020-08-13 22:39] shibupanda commented on #94
Closing due to inactivity.
Please feel free to reopen.

[2020-08-13 22:39] #94 closed

[2020-08-13 22:43] shibupanda commented on #28
@dannysood
Are you still facing the issue.
Have you tried the above configuration and use flutter run command to build an app?

[2020-08-28 08:59] arturk opened #97 "Add desired capabilities ability to support the processArguments"
I want to be able to pass the launch parameters to the flutter process. In my case I want to be able to trigger flutter application with next parameteres:
[code]
so it would be possible to run flutter app on a permanent observatory address

[2020-09-04 13:18] Vishu0078 opened #98 "Getting unknow locator using Appium Flutter Driver"
Tried to automated Flutter application using Appium Flutter Driver, resolved all dependencies but when run it then after lunching application, driver is throwing below error.

org.openqa.selenium.NoSuchElementException: An element could not be located on the page using the given search parameters
For documentation on this error, please visit: https://www.seleniumhq.org/exceptions/no_such_element.h

[2020-09-06 10:33] Manojv00087 opened #99 "appium_flutter_finder throws exception in ruby - when trying to start_driver"
![image](https://user-images.githubusercontent.com/46107289/92323932-4430e780-f05a-11ea-8384-e911f4d07a7a.png)

When I'm trying to start_driver itself - I'm facing this error. Did I miss something?

I have added appium_flutter_finder dependencies and finding element by Appium::Flutter::Element only. I'm not sure what I might have missed in the config. Can someone help on this?

[2020-09-22 06:34] baovu2512 commented on #91
i still met this issue even the app added
`<uses-permission android:name="android.permission.INTERNET"/>`

Appium log : [here](https://gist.github.com/baovu2512/5fcf677417c56df352804f6837a59dd4)

[2020-09-22 06:36] baovu2512 commented on #98
do you forgot automationName = Flutter ?

[2020-09-25 16:49] Reppinger commented on #28
I am having the same issue:
[code]

[code]
AndroidManifest.xml:
[code]

Start emulator with:
`emulator -wipe-data -no-snapshot-save @Pixel_3_API_29`

[code]

Call to `core.start_driver` loads and displays app on simulator, then Appium log:
[code]

[2020-09-25 18:06] Reppinger commented on #28
OK.  I tried the exact same setup with a different flutter app that I made from a tutorial. It doesn't have the problem with `ext.flutter.driver` not found.  I don't know the difference, yet. I am investigating.

[2020-09-25 18:42] Reppinger commented on #28
Now I have to take that back.  I ran it several times without issue.  Now it is doing it again.  So, put me on the list of people getting the error intermittently.  :) Will keep investigating....

[2020-09-28 20:28] ajschwieterman opened #100 "mobile:shell command not supported"
Appium: v1.17.1
Appium Flutter Driver: v0.0.25
Platform: Android v11

`2020-09-28 20:15:16:537 - [Appium] Appium v1.17.1 creating new FlutterDriver (v0.0.23) session
2020-09-28 20:15:16:538 - [Appium] Applying relaxed security to 'FlutterDriver' as per server command line argument. All insecure features will be enabled unless explicitly disabled by --deny-insecure
2020-09-28 20:15:16:539 - [debug]

[2020-09-29 19:40] ajschwieterman opened #101 "Cannot find maven dependency"
I am using the following dependency to import the finder methods in the Appium Flutter driver, but my IDE cannot find them.

`
<dependency>
<groupId>pro.truongsinh</groupId>
<artifactId>appium-flutter-finder</artifactId>
<version>0.0.4</version>
</dependency>
`

[2020-09-30 06:42] sahanaprasad opened #102 ""ext.flutter.driver" is not found in "extensionRPCs""
I have been trying to automate flutter application with Appium flutter driver.
Getting the following issue. (Appium log). Kindly help me with this. Thanks in advance.
capabilities:
const wdio = require('webdriverio');
const assert = require('assert');
const find = require('appium-flutter-finder');

const osSpecificOps =
  process.env.APPIUM_OS === 'android'
    ? {
        platformName: 'Android',

[2020-09-30 13:14] Reppinger commented on #28
Just adding another update that was contributing to my confusion. I get the ext.flutter.driver" is not found in "extensionRPCs" EVERY TIME if I simply do a flutter build apk --debug.
Instead, I **MUST** run flutter drive to build the app (even though I have no flutter driver tests):
flutter drive --target=test_driver/app.dart

I still receive the error intermittently but it is much more tolerable.

[2020-09-30 14:26] Reppinger commented on #102
@sahanaprasad there is an extensive discussion of this error in  #28

[2020-10-01 07:25] sahanaprasad commented on #101
i'm facing the same issue. Any update?

[2020-10-01 09:34] sahanaprasad commented on #102
This issue only persists when running the suite on emulator. It works fine with the real device.

[2020-10-01 09:34] #102 closed

[2020-10-01 10:30] sahanaprasad commented on #98
How did you resolve the dependency for appium_flutter finder in maven?
Kindly let me know. I'm having the same issue.

[2020-10-01 12:07] baovu2512 commented on #98
What maven issue you are facing?

[2020-10-01 12:12] sahanaprasad commented on #98
This dependency is not found
<dependency>
			<groupId>pro.truongsinh</groupId>
			<artifactId>appi um-flutter-finder</artifactId>
			<version>0.0.4</version>
		</dependency>

[2020-10-01 12:45] ahashmi24 commented on #101
@sahanaprasad
you can get appium-flutter-finder dependency from [here](https://github.com/truongsinh/appium-flutter-driver/files/3541350/repository.zip) and keep it in your local machine and passed its path in pom.xml

pom.xml snippet:
                 <repository>
			<id>local-maven-repo</id>
			<url>file:///lib/repository</url>
		</repository>

I recommend you to keep dependency (pro folder) in

[2020-10-01 12:48] sahanaprasad commented on #101
can you please send me the code snippet.
@ahashmi24

[2020-10-01 13:02] baovu2512 commented on #98
You can check this. https://github.com/truongsinh/appium-flutter-driver/issues/29

[2020-10-01 13:29] sahanaprasad commented on #98
I got this error while importing jar file through maven command.
 standalone-pom: Error parsing POM /Users/<username>/Downloads/repository/pro/truongsinh/appium-flutter-finder/0.0.4/appium-flutter-finder-0.0.4.jar

[2020-10-01 13:32] baovu2512 commented on #98
You can move pro/truongsinh/ to maven home. Then on your project. Run mvn install

[2020-10-02 14:29] pablo-gonzalez commented on #28
Hi. I am facing the same issue running on Android emulator using Ruby.
[code]
After second try it works fine.

A possible workaround until fix the issue could be to reduce time for next try. 300 seconds (5 minutes is too much in my opinion). Is it possible to reduce that time using some parameter?
Can I provide more details to help to fix the issue?
Thanks

[code]

[code]

[code]

[2020-10-02 15:20] Reppinger commented on #28
I too was wondered if the 300 seconds is configurable. It would certainly make the intermittent issue a little more tolerable.

[2020-10-02 16:47] Reppinger commented on #28
@pablo-gonzalez For some reason, I had to "ruby-fy" that setting.
        `retry_backoff_time: 30000 #milliseconds`
worked instead of retryBackoffTime.

[2020-10-02 17:44] pablo-gonzalez commented on #28
@Reppinger Thank you for your comments. You are right, retryBackoffTime is not recognized by Appium in Ruby.

I am not sure but that capability seems to be related to this in the log:

`[simctl] UiAutomator2 Waiting up to 30000ms for UiAutomator2 to be online...`

By the way the value in documentation seems to be wrong. @truongsinh could you provide some clarification on this?

[code]
Even using r

[2020-10-02 21:09] Reppinger commented on #28
@pablo-gonzalez, I get the same error that it doesn't recognize the setting, but it works for me.

Here is my desired caps that I am passing from my Cucumber project to Appium:
[code]

Appium logs the following:
[code]

Yet, when it gets the intermittent error it only waits 10 seconds before making Attempt 2:
[code]

I hope that helps!

[2020-10-05 05:30] sahanaprasad commented on #98
When i tried mvn install after moving  pro/truongsinh/ i get the following error. @baovu2512

[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 0.138 s
[INFO] Finished at: 2020-10-05T11:00:28+05:30
[INFO] Final Memory:

[2020-10-05 13:55] ajschwieterman commented on #101
@sahanaprasad I downloaded the files into my .m2 repo without changing the pom.xml file to reference this dependency.

[2020-10-05 18:01] pablo-gonzalez commented on #28
Thank you @Reppinger for your clarification!

I have tried using the same capability you shared (check log below) but it is not working.

I think you are running on emulator too, right?
Could you share your Appium and Ruby versions and gem list to check the differences please?

Thanks in advance

[code]

[2020-10-06 00:49] Reppinger commented on #28
I am using an Android emulator.  It also works with another dev's emulator and on the emulator on the build server.
I don't recall where I read it, but you want to use appium-flutter-driver 0.25 which requires installing Appium 1.19 beta.

`npm install -g appium@1.19.0-beta.0`

[code]

I'm using ruby 2.6.6p146 on MacOS with rvm.

Here's my Gemfile.lock:
[code]

[2020-10-06 18:00] pablo-gonzalez commented on #28
Hi @Reppinger
It worked using the appium and driver version you informed.
Now the issue is more tolerable.

Thank you very much for your support.

[2020-10-07 09:44] sahanaprasad commented on #85
I have the same issue. I'm using debug application. automationName is also set to Flutter in the capabilities. flutterDriverExtension is also enabled. How can I solve the issue? @shibupanda @rilham97

[2020-10-07 10:08] sahanaprasad opened #103 "flutter_driver does not have visibility API. Need to get a hack"
code:
assertTrue(find.byValueKey("counter").isDisplayed());

error: org.openqa.selenium.UnsupportedCommandException: Method has not yet been implemented (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 19 milliseconds

capabilities: "app": "/Users/sahanaprasad/development/flutterAutomationTrial/src/apps/android-real-debug.apk",
   "automationName": "Flu

[2020-10-12 03:41] antonydass commented on #18
Hi All,

I am also facing the same issue. Please help to resolve this issue.

[2020-10-14 13:44] #101 closed

[2020-10-14 13:55] ajschwieterman opened #104 "java.lang.NoClassDefFoundError: kotlinx/serialization/ShorthandsKt"
When running the following code,
`finder.byValueKey("1")`

I get this exception.
`java.lang.NoClassDefFoundError: kotlinx/serialization/ShorthandsKt
	at pro.truongsinh.appium_flutter.finder._FinderRawMethods__SerializerKt.serialize(serializer.kt:42)
	at pro.truongsinh.appium_flutter.finder._FinderRawMethods.serialize(Unknown Source)
	at pro.truongsinh.appium_flutter.finder.FlutterElement.<init>(Fl

[2020-10-14 13:56] #100 closed

[2020-10-14 14:50] #104 closed

[2020-10-14 18:08] ahmedsalaah opened #105 "documentation not clear"
could'nt resolve pro.truongsinh.appium_flutter.FlutterFinder

[2020-10-14 19:17] ajschwieterman commented on #105
Have a look at #101

[2020-10-15 20:22] ajschwieterman opened #106 "Cannot set security flags when switching context to NATIVE_APP"
I have the `--relaxed-security` flag enabled in my Appium server to send ADB commands to my Android phone.  This works fine when the automationName is set to UiAutomator2, but when the automationName is set to Flutter, it doesn't work.  I even changed the context to NATIVE_APP, and I get an error.

[code]

I've attached the Appium logs
[appium-log.txt](https://github.com/truongsinh/appium-flutter-

[2020-10-16 00:24] nandhini0761 commented on #39
Hi @KazuCocoa @shibupanda  I am using Appium 1.18.2 and facing the Issue.
I could see it uses usbmuxd, but I am not able to understand that how would i find the workAround of this Issue
[FlutterDriver] Attempt #1
[FlutterDriver] Connecting to Dart Observatory: ws://127.0.0.1:57496/zGG5BKi7gEI=/ws
[FlutterDriver] Error: connect ECONNREFUSED 127.0.0.1:57496
[FlutterDriver] at TCPConnectWrap.afterCon

[2020-10-16 10:57] chughrahul opened #107 "I'm trying to use this appium-flutter-driver on the WEB but I'm encountering some issues. I've my webapp with tests written in selenium(java) and I'm trying to write another test for the embedded flutter views in the app. Is it possible to do so ?"

[2020-10-20 17:02] ahmer-hash commented on #39
@shibupanda
Do we have any capability to control this 300 seconds time for the second attempt?

[35m[FlutterDriver][39m Attempt #1
[35m[FlutterDriver][39m Connecting to Dart Observatory: ws://127.0.0.1:55774/fUECAwkOpxw=/ws
[35m[FlutterDriver][39m Error: connect ECONNREFUSED 127.0.0.1:55774
[35m[FlutterDriver][39m     at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1144:16)
[35m[Flu

[2020-10-20 19:27] shibupanda commented on #39
@ahmer-hash just know I publish a bump version to fix iOS real device issue. As I don't have real device could you please try the latest driver and share me the logs.
https://www.npmjs.com/package/appium-flutter-driver/v/0.0.26-1

[2020-10-20 19:28] shibupanda commented on #106
@ajschwieterman This option is not there in flutter driver yet.

[2020-10-20 19:29] ajschwieterman opened #108 "Annotations for finding UI elements"
In the native drivers, annotations can be added to a MobileElement variable in replacement of using the traditional `driver.findElementById()` method.  Having these annotations for Flutter finder methods, like valueKey, would be very valuable.

<img width="653" alt="Screen Shot 2020-10-20 at 15 25 23" src="https://user-images.githubusercontent.com/50152740/96634588-bb5bcb80-12e8-11eb-9f94-93d17f6a

[2020-10-20 19:30] #105 closed

[2020-10-20 19:31] shibupanda commented on #103
@sahanaprasad isDisplayed() is not available in flutter driver.
For a work around you can use waitFor inside try..catch block.

[2020-10-20 19:34] shibupanda commented on #108
@ajschwieterman Could you please create a proposal in testNg community.

[2020-10-20 19:36] ajschwieterman commented on #108
@shibupanda Can you point me to where I can find the testNg community?

[2020-10-20 19:37] ahmer-hash commented on #39
@shibupanda
appium-flutter-driver version ?
Currently, I am using below:
npm list -g appium-flutter-driver
/usr/local/lib
└─┬ appium@1.19.0-beta.0
  └── appium-flutter-driver@0.0.25

[2020-10-20 19:41] shibupanda commented on #39
Yeah, but recently I publish latest bump version of driver for the fix. If you can check with latest driver that can help us to release proper release.

[2020-10-20 19:47] ahmer-hash commented on #39
How can I get the latest driver? could you plz help me with the steps?

[2020-10-20 19:52] shibupanda commented on #39
https://www.npmjs.com/package/appium-flutter-driver/v/0.0.26-1

Here you can get the latest flutter driver change the version in Appium package.json and do npm install.

[2020-10-20 20:15] ahmer-hash commented on #39
@shibupanda
It's failing after attempting 10 times. Please check logs [here](https://gist.github.com/ahmer-hash/db309b2976151d944c81f7678dc83878)

[2020-10-20 20:21] shibupanda commented on #39
Looks like this time iProxy started. I need someone help to connect remotely to fix this issue as I don't have real iOS device. Could you please help me with your linked in account.

[2020-10-23 21:24] anjanat11 commented on #39
@shibupanda - This issue is a blocker for our testing also. As we need to test our scripts on real iOS device and not on simulator. Can you please let us know when the fix will be available?

[2020-10-23 21:32] shibupanda commented on #39
Hi @anjanat11
As I don't have an iOS set up was unable to test it and debug if someone can volunteer and connect with me than that would really help me to fix this quick.

[2020-10-23 21:38] anjanat11 commented on #39
@shibupanda - I can help out on the setup.

[2020-10-23 21:48] shibupanda commented on #39
Thanks @anjanat11 please reach me in LinkedIn you can get it from my GitHub profile.

[2020-10-24 20:55] anjanat11 commented on #39
@shibupanda  - By using 0.0.26-1 driver the iproxy got connected automatically at the beginning itself but in the 1st attempt it failed because it is taking some time to initiate iproxy, but in second attempt it got connected and my script worked. In this version manual intervention is not required.
Note -  I did not use retryBackoffTime capability.
Thanks for providing this driver. It was very he

[2020-10-25 14:53] renjujv commented on #39
@shibupanda Thanks for your efforts, man.
@anjanat11 Thanks for letting us know. I'll also try this and report back.

[2020-10-28 02:47] baovu2512 commented on #99
do you enableFlutterDriverExtension() in your main.dart ?

[2020-10-28 06:40] Manojv08 commented on #99
@baovu2512 - I'm actually using this dependency for a test automation project and we don't use main.dart file in our project.. Is that Mandatory to create that sort of file in our rspec ruby project?

For reference - I was trying out this example from this repo -
https://github.com/truongsinh/appium-flutter-driver/blob/master/example/ruby/example.rb

[2020-10-28 07:54] baovu2512 commented on #99
https://flutter.dev/docs/cookbook/testing/integration/introduction, enable driver in your app code

[2020-10-28 09:58] chughrahul opened #109 "Is there a way to switch the capabilities between "Flutter" and "UiAutomator2" in a single app while running tests ?"
I've my application with embedded flutter views and the tests are written in java(appium). I want to add tests for the flutter views but it says that it needs capability "automationName" set to "Flutter". But my "automationName" capability is set to "UiAutomator2". Is there a way to dynamically change the capability to Flutter when my application reaches the flutter views ?

[2020-10-28 12:35] Reppinger commented on #99
We put the `enableFlutterDriverExtension();` in the main of app_test.dart in the test_driver folder. When we want to run cucumber tests, we first run `flutter drive --target=test_driver/app.dart`.

We don't have an flutter driver tests, but this compiles the debug version of the app with the extensions enabled and then Appium_flutter_driver can connect.

I wouldn't enable flutter driver extension

[2020-10-30 18:05] jas3599 opened #110 "Handle Testdata using json file using javascript in flutter appium driver"
Hi,

Is there anyway to do data-driven testing using json file in flutter appium driver.

Ex- for login without hardcoding username and pwd if I want to parameterize in script. Readdata from json

[2020-10-31 06:32] chughrahul commented on #63
@shibupanda @ahashmi24
I'm having the same issue, my app is native and some views embedded flutter. If I start driver with AutomationName 'Flutter', it shows error. Is there any solution for this ?

[2020-11-06 06:29] vaibhavdatir opened #112 "send_Keys() not working for flutter app in Appium with python"
When i try to enter some text into the text box i received error. I used send_Keys() also setvalue. but when i used click() its working.
I also try click() and then send_keys().

Error Message is

selenium.common.exceptions.InvalidElementStateException: Message: Cannot set the element to 'some text'. Did you interact with the correct element?

[2020-11-06 10:21] dvyAb commented on #39
Hello,

We have the same problem with flutter_driver, Have you found the solution ?, please

**Thanks**

[2020-11-07 14:19] nandhini0761 commented on #112
@vaibhavdatir Appium send_keys won’t work if Any animations available in your Testing app.  We can able to achieve using runUnsynchronized() method. This method available in flutterdriver but it’s not available   appium flutter driver.

[2020-11-09 05:03] vaibhavdatir commented on #112
Thank You @nandhini0761

[2020-11-10 03:11] shibupanda commented on #112
@vaibhavdatir please attach the complete logs using GIST.

[2020-11-10 03:13] shibupanda commented on #110
@jas3599 this is framework level work please design your framework in such a way that you can achieve data-driven

[2020-11-10 03:13] #110 closed

[2020-11-10 03:15] shibupanda commented on #108
@ajschwieterman raise a proposal [here](https://github.com/cbeust/testng/issues).

[2020-11-10 03:15] #108 closed

[2020-11-10 05:27] vaibhavdatir commented on #112
@shibupanda  a link for complete log

https://gist.github.com/vaibhavdatir/c0ed76a48b0f89eba91856a1bc55473a.js"

Error Message is selenium.common.exceptions.InvalidElementStateException: Message: Cannot set the element to 'example@example.com'. Did you interact with the correct element?

[2020-11-10 07:16] WangLiRu opened #113 "python can't use waitFor or other execute command?"
When we use python to develop automation test with Flutter, I see that there are many wait methods or execute methods for nodejs in the sample, but it seems that they can't work in Python because they haven't been implemented yet?

When i run the command for below:
[code]
I will received this message : 'str' object does not support item assignment...
Is the syntax of Python different?

[2020-11-10 13:59] krmahadevan commented on #108
@shibupanda - Can you please help me understand as to how this would be connected to TestNG ?

[2020-11-11 21:47] ajschwieterman opened #114 "FlutterDriver command timeout seems infinite"
When I execute a FlutterDriver command using a FlutterElement that is either not displayed on the phone or not on the phone, the driver does not timeout; it stays stuck in an infinite loop.  I'm not aware of any timeouts I can set to solve this problem.  I set the implicit wait time using the following code:
[code]

[2020-11-12 07:25] jemishgopani commented on #109
Did you try to change the context?

[2020-11-12 09:16] chughrahul commented on #109
@jemishgopani  When I changed 'UIAutomator2' to 'Flutter', my native tests stopped working.

[2020-11-13 02:47] baovu2512 commented on #114
i've change the waitFor method to return element you search with timeout, you can check it out here https://github.com/truongsinh/appium-flutter-driver/pull/111.

[2020-11-13 04:57] jemishgopani commented on #109
@chughrahul Use the below line before you want to use NATIVE commands.
`driver.context("NATIVE_APP"); // This line change your current FLUTTER context to NATIVE context`

[2020-11-13 13:35] ajschwieterman commented on #114
Thank you @baovu2512!

[2020-11-13 13:35] #114 closed

[2020-11-13 19:28] ajschwieterman opened #115 "Cannot launch debug apps on iOS 14 real devices"
With the release of iOS 14, it has become impossible to test debug apps using the appium-flutter-driver.  When I launch my Flutter app on my iPhone, I get the following screenshot:

![IMG_5F87EAB178C3-1](https://user-images.githubusercontent.com/50152740/99112973-7e6bb780-25bc-11eb-981a-c5deb321dcd2.JPEG)

[Reference](https://flutter.dev/docs/development/ios-14)
appium-flutter-driver v0.0.26-1

[2020-11-17 06:15] sahanaprasad commented on #82
I have added the permission and still facing the issue. @shibupanda @davidjohnmaccallum. Can someone tell me how this issue can be resolved?

[2020-11-17 07:09] sahanaprasad commented on #91
Any update on this issue? I'm facing the same issue. I have added the permission also, still getting "Cannot read property 'match' of undefined" error.

[2020-11-17 07:37] sahanaprasad opened #116 "Cannot read property 'match' of undefined."
when i try to automate app with both flutter screen embedded in native app, i get  "Cannot read property 'match' of undefined" issue. the session is terminated immediately.
I have added     <uses-permission android:name="android.permission.INTERNET" />
i'm using appium client
appium version 1.18.2
as soon as the app is launched the session is terminated stating below exception.

Encountered intern

[2020-11-17 10:38] Trongk58d commented on #28
i have same issue with You, have any update for this issue?

[2020-11-17 10:41] Trongk58d commented on #28
sometimes i run success, but not much, error happens more regularly!

[2020-11-17 13:34] baovu2512 commented on #91
@sahanaprasad what machine you using to build the app? Which device you met this issue?

[2020-11-17 13:40] sahanaprasad commented on #91
since its native + flutter, generated aar file and the used it to integrate with native app and generated app through android studio ide on macOS. getting this issue in all the devices (micromax, honor 8 lite). @baovu2512

[2020-11-17 13:43] Reppinger commented on #28
@Trongk58d  I am running appium@1.19.0-beta.0 and the related appium-flutter-driver as seen below:
[code]

My ruby and gem setup is listed above in a comment from October 5th.  Also, in an October 2nd comment above, I explained how I shortened the 300 second wait time so that when it does happen it is less painful. I have since changed it to:
`retry_backoff_time: 2000 #2 seconds`
For me, it almost

[2020-11-17 13:44] baovu2512 commented on #91
Do you build the app by flutter? Please try to place enableFlutterDriverExtension() then build in debug mode.

[2020-11-17 13:45] sahanaprasad commented on #91
yes,it is enabled.

[2020-11-17 13:46] sahanaprasad commented on #91
i don't get this issue with purely flutter build. only on native + flutter, i get this issue.

[2020-11-17 13:56] baovu2512 commented on #91
If so, your enableFlutterDriverExtension didnt go through. so the app not expose the dart oservatory

[2020-11-17 17:57] ajschwieterman opened #117 "Cannot get render tree in profile build"
When executing the command `driver.executeScript("flutter:getRenderTree")`, the driver returns an empty string in a profile build of the app.  Debug apps return the full render tree.

[2020-11-18 02:28] Trongk58d commented on #28
thank you!
![image](https://user-images.githubusercontent.com/69950669/99474585-6eb6ef00-297f-11eb-83bc-c8842d91ccf1.png)
my appium is the newest version (1.19.0) and the same version of appium-flutter-driver with U!
Can U show me how to config the retry_backoff_time for your project? tks

[2020-11-18 02:54] Trongk58d commented on #28
it works with me, thank you!

[2020-11-18 15:52] ajschwieterman commented on #117
The same holds true for `driver.executeScript("flutter:getRenderObjectDiagnostics", element, map)`.

[2020-11-19 14:58] sentrybottale opened #118 "Python example & element not found"
Hey all,
First thank you for the plugin, as it brings hope for testing flutters - I would like to ask about the Python use of the application.
I include appium-flutter-driver
and have the below case, but i’m getting element not found exception.
`
[code]

The respective element in flutter is properly set to 'phone_key'

Also how do I construct a command, such as enterText, as there is nowhere enoug

[2020-11-20 08:10] baovu2512 opened #119 "failed to interact with element find by descendant"
I'm trying to find by descendant but maybe is not working anymore.
`MobileElement  el = find.descendant(find.byTooltip("counter_tooltip"), find.byValueKey("counter"));
    el.click();
    el.getText();`

Any interact with element find by descendant will throw below exception:
[code]

[2020-11-20 08:32] shibupanda commented on #119
@baovu2512 could you please share the logs I may check some of the pending PR and Issues in weekend.

[2020-11-20 08:38] sentrybottale commented on #118
To whoever have this error, the problem was I didn't set capabilities ['automationName'] = 'Flutter'

[2020-11-20 08:38] #118 closed

[2020-11-20 08:45] baovu2512 commented on #119
<script src="https://gist.github.com/baovu2512/8684a768d537d25773e188fe795183cd.js"></script>

[2020-11-20 10:24] sahanaprasad commented on #28
I'm having the same issue. Changed appium to beta version as well. It is still not working for me. Tried with android emulator API26 and real device. Still no luck. Is there any update on this issue?

[2020-11-22 03:15] baovu2512 commented on #119
Hi @shibupanda , any update on this ?

[2020-11-22 03:28] shibupanda commented on #119
@baovu2512 looks like the issue is from dart api. Could you please share the details of your environment like dart , flutter version.
And add flutter-doctor output also it will be easy to raise in flutter community.
And please try the test using flutter driver(not appium) also.

Found one article on the same. https://www.mmbyte.com/article/72112.html

[2020-11-22 03:32] baovu2512 commented on #119
Flutter 1.22.1 • channel stable • https://github.com/flutter/flutter.git
Framework • revision f30b7f4db9 (6 weeks ago) • 2020-10-08 10:06:30 -0700
Engine • revision 75bef9f6c8
Tools • Dart 2.10.1
Windows 10
Appium 1.18.2
Appium flutter: lastest

I've tried flutter driver also, its work fine.

[2020-11-22 03:54] shibupanda commented on #119
Could you please send flutter driver logs as well. And Appium flutter driver latest you mean 0.0.25?

[2020-11-22 05:15] baovu2512 commented on #119
Sorry, I can't provide flutter driver logs.

Appium flutter : 0.0.26-dev

print( await driver.getText(find.descendant(
          matching: find.byValueKey("sub-title-text"),
          of: find.byValueKey("status-transaction-detail"))));
here is the code in flutter driver. print exactly what I looking for

[2020-11-22 05:25] baovu2512 commented on #119
the shorten one with find descendant only ->
{command: get_text, finderType: Descendant, of: {"finderType":"ByType","type":"Tooltip"}, matching: {"finderType":"ByType","type":"Text"}, matchRoot: false, firstMatchOnly: false}
@shibupanda

[2020-11-22 05:26] baovu2512 commented on #119
maybe we missing the matchRoot and firstMatch i think. the dart throwing error that we are missing some value

[2020-11-22 05:28] shibupanda commented on #119
Need to check because previously it had default value.

[2020-11-22 05:31] baovu2512 commented on #119
Thanks, can you have a quick check. I'm stuck at and tomorrow is my deadline haha.
Also, can you take a look at https://github.com/truongsinh/appium-flutter-driver/pull/111.

[2020-11-22 16:32] shibupanda commented on #119
@baovu2512 could you please use some other finders for now. I am outside for few days.

[2020-11-23 05:19] sahanaprasad commented on #27
Is this issue resolved @ahashmi24? I have been trying to automate the flutter embedded native app and currently blocked by this issue. I have tried in couple of devices and EMULATORS. Tried with beta version of appium as well, but no luck. I have enabled flutter driver extension in the flutter app. I'm work on the macOS, catalina. Tried withh android API version 24/26. Appium version: 1.19 beta v.

[2020-11-23 05:30] shibupanda commented on #27
Did you try with our sample app? Please try with that whether you are getting same.

[2020-11-23 05:31] sahanaprasad commented on #27
Yes it works with the sample app. @shibupanda

[2020-11-25 08:31] sentrybottale commented on #113
Yes, the example for python is very limited onto the actions, and I can't find examples anywhere :(

[2020-11-30 18:38] andreroggeri opened #120 "Publish appium_flutter in maven repository"
Hi @truongsinh I'm starting a PoC with Java using your code, but I had to build the Java Finder in my machine.

Do you have plans to publish this package on Maven ? I think this would make much easier for Java users to start using your library.

[2020-12-01 02:41] baovu2512 commented on #119
Hi @shibupanda, I notice that you approved the PR, can you publish to npm.
And how about find descendant, do you have any update

[2020-12-01 07:41] #116 closed

[2020-12-03 18:18] Satyakunisetty opened #121 "Process finished with exit code 254"
lib/main.dart: Warning: Interpreting this as package URI, 'package:hello_world/main.dart'.
../../../../Flutter/flutter/packages/flutter/lib/src/semantics/semantics.dart:2121:39: Warning: Operand of null-aware operation '!' has type 'List<SemanticsNode>' which excludes null.
 - 'List' is from 'dart:core'.
 - 'SemanticsNode' is from 'package:flutter/src/semantics/semantics.dart' ('../../../../Flutte

[2020-12-03 18:25] Satyakunisetty commented on #121
Am i doing something wrong while executing this

[2020-12-03 21:43] ajschwieterman commented on #117
Issue reported in Flutter project. [#70772](https://github.com/flutter/flutter/issues/70772)

[2020-12-03 21:43] #117 closed

[2020-12-04 11:15] veerakunisetty commented on #121
I ave sorted out the above issue. so closing the issue

[2020-12-09 04:08] basilmariano commented on #27
have you manage to fix this issue? because im also getting this

[2020-12-18 09:24] ArchitWagle opened #123 "Does the appium-flutter driver work on real IOS devices as of now?"
I see some issues here where people are using this appium-flutter driver with real IOS devices, but the readMe lists that real IOS devices is still a todo.

[2020-12-18 16:59] ajschwieterman commented on #123
@ArchitWagle, yes, but it needs to be modified.

https://github.com/truongsinh/appium-flutter-driver/issues/39

[2020-12-27 15:40] tevaAutomation commented on #123
Hi,
@ajschwieterman - do you know when will Appium-Flutter-Driver going to support in iOS real device? and will it support in iOS version 14 and above?

[2020-12-28 09:50] shibupanda commented on #120
@andreroggeri There is no plan for now. But I will do it soon.

[2020-12-28 14:34] ajschwieterman commented on #123
@tevaAutomation, I am not sure when the repo will be updated.  This is a better question for @truongsinh and @shibupanda as they are the owners of the repo.

[2020-12-29 17:03] rishav-csenitjsr opened #124 "Not taking into consideration of options passed to base driver while setting up of new ios driver for appium-flutter-driver"
I was passing `wdaLocalPort` to appium while running flutter session but only `javascriptEnabled` is passed in `iosArgs` while setting up of new Ios driver [here](https://github.com/truongsinh/appium-flutter-driver/blob/master/driver/lib/sessions/ios.ts#L7-L12)
Ideally, we should pass this `[this.proxydriver, this.socket] = await startIOSSession(caps, this.opts);` instead of [this.proxydriver, thi

[2020-12-29 19:14] shibupanda commented on #124
@rishav-csenitjsr
Please create a PR will review.

[2021-01-13 10:24] baovu2512 commented on #119
@shibupanda , do you have any update.

[2021-01-13 10:26] shibupanda commented on #119
@baovu2512 I was really blocked with some other tasks we can publish along with iOS fixes.

[2021-01-13 12:11] wanglinwu2019 opened #125 "There is no reponse when click a button in Popup"
Appium: v1.19.1
Device API level: 29
FlutterDriver: v0.0.26-1
When I click a button in Popup, there is no reponse in 2 minutes. But if no Popup, I can click othen button correctly.

**Full log**:
[2021-01-13 07:56:26][HTTP] Waiting until the server is closed
[2021-01-13 07:56:26][HTTP] Received server close event
[2021-01-13 07:56:26][Appium] Welcome to Appium v1.19.1
[2021-01-13 07:56:26][Appium]

[2021-01-14 08:19] hex0cter commented on #115
I have the same problem. Please help! 😢

[2021-01-14 16:14] ajschwieterman commented on #115
@hex0cter are you able to get a profile build of the app?  That has worked for me.

[2021-01-14 16:49] hex0cter commented on #115
Hi @ajschwieterman! Could you please elaborate a bit more? I am new to both Appium and flutter. What is **a profile build of the app** and where am I supposed to get it? Any help is appreciated.

[2021-01-14 16:56] ajschwieterman commented on #115
Hi @hex0cter Ask the developer who built the Flutter app your testing to build it in profile mode instead of debug mode.

https://flutter.dev/docs/testing/build-modes

[2021-01-15 12:19] hex0cter commented on #115
@ajschwieterman I see what you mean now. Just tried `flutter build ios --flavor=firebase --profile`. The app can launch now on the phone now, but Appium is hanging with errors like this:
[code]
I saw some discussion on https://github.com/truongsinh/appium-flutter-driver/issues, but still haven't figured out any workaround yet.

[2021-01-15 14:00] Reppinger commented on #115
@hex0cter Your build will still need the flutter driver extension for appium-flutter-driver to work.
[code]

[2021-01-15 14:04] hex0cter commented on #115
Yes I had that enabled before building the app.

[2021-01-15 14:30] ajschwieterman commented on #115
@hex0cter Have a look at this issue.

[2021-01-15 15:00] hex0cter commented on #39
@ajschwieterman Sorry for a silly question. I didn't see `iproxy` being called anywhere by default. Shall I rebuilt the library based on https://github.com/truongsinh/appium-flutter-driver/pull/62?

[2021-01-15 15:23] ajschwieterman commented on #39
@hex0cter yes

[2021-01-15 15:47] hex0cter commented on #39
ok I will give it a try. Thanks for the tip!

[2021-01-15 20:40] hex0cter commented on #115
@ajschwieterman I tried the patch from now on with minor changes in it:

![image](https://user-images.githubusercontent.com/9008480/104775305-6a893100-5778-11eb-8538-f94366555b6b.png)

I tested two apps including the example app from https://github.com/truongsinh/appium-flutter-driver/tree/master/example/flutter_app_under_test (both built with --profile).  This error has gone now:
[code]
but the t

[2021-01-15 21:32] hex0cter commented on #115
Removing `-u udid` generated the same result. However I managed to make it work after running `iproxy` in the background:
[code]
The might be a small delay needed to make it more stable. I will try to make a Pull Request later.

The python library is also a little broken for Python3.  I had to add the following line into https://github.com/truongsinh/appium-flutter-driver/blob/master/finder/python

[2021-01-15 21:36] ajschwieterman commented on #115
@hex0cter No problem!  I'll update my local copy of the repo with your suggested changes.  And I support you submitting the pull request!

If you switch your context using `driver.context("NATIVE_APP");`, then you can use the traditional Appium finders.  When you launch a Flutter app in Appium, the context is set to `FLUTTER`.

[2021-01-15 22:10] hex0cter commented on #115
That is a super helpful tip! Thanks again for that. It would save me a lot of time.

I did notice one thing though. Now I set the context to **Native** by `driver.switch_to.context('NATIVE_APP')`, and am able to use Appium inspector to check the element. However in the inspector I cannot really locate any element. Here is a screenshot of what I get:

![image](https://user-images.githubusercontent.

[2021-01-16 09:28] shibupanda commented on #115
HI @hex0cter
Please have look on this PR and if possible build locally. I am not able to work much because there is no volunteer I get who can test for us. @ajschwieterman put some comments please have a look.
https://github.com/truongsinh/appium-flutter-driver/pull/92

And yes for flutter the finders are different compare to traditional selectors so no make sense to add those.

[2021-01-16 16:52] hex0cter commented on #115
@shibupanda I am trying to test it now.

One more question regarding the selectors, as the traditional selectors do not work any more, are there any other inspectors/tools available to check the element tree when developing tests?

[2021-01-16 17:46] shibupanda commented on #115
@hex0cter there is a plugin available in intellij I guess to inspect flutter related finder. There is no such tool created externally to inspect let's have a plan to do that but I need more collaborate who can do some RnD on it I can only guide due to time constraints.

[2021-01-16 18:50] hex0cter commented on #115
Thanks @shibupanda! Could you please let me know the name of the plugin? Are there any instructions on how to use it? I am not a flutter developer. Any tips on this would be appreciated.

[2021-01-19 06:04] joyBymin commented on #113
my example for python like this, work well:

 def  waitFor_by_type(driver, locator):
        return driver.execute_script("flutter:waitFor", self.finder.by_type(locator), 30)

button_finder = waitFor_by_type(driver, locator)
button_element = FlutterElement(self.driver, button_finder)

[2021-01-26 03:28] k19810703 commented on #116
I am facing the same problem , any advice to fix it

[2021-01-26 12:22] jstephancc commented on #75
Hello,

I discovered the same issue. Here is my error message:
`[debug] [35m[W3C][39m Encountered internal error running command: Error: Command failed: /Users/jakubstephan/Library/Android/sdk/platform-tools/adb forward tcp:51006 tcp:51006
[debug] [35m[W3C][39m adb: error: more than one device/emulator`

I looks like a problem with this function: https://github.com/truongsinh/appium-flutter-dr

[2021-01-26 14:27] shibupanda commented on #75
Thanks @jstephancc for reporting this. Strange thing is I am not able to see -s udid in the logs. Will try to reproduce the issue.
@hex0cter is it fine for you to reproduce this.

[2021-01-26 14:45] jstephancc commented on #75
@shibupanda if you will be able to debug this code, please check if this function is called during this issue. It might be a issue, that method is called from appium-base instead of your implementation ?

Please let me know, can i help you somehow ?

[2021-01-26 14:50] shibupanda commented on #75
If you can build the driver locally by adding some logs after https://github.com/truongsinh/appium-flutter-driver/blob/424a9fb38152b450c8bc0b35fbbccd7fa00e9b1b/driver/lib/sessions/android.ts#L36 and check if the udid is getting printed.

[2021-01-26 17:36] jstephancc commented on #75
@shibupanda will you be able to give some short instruction how to make it ?

I guess after cloning repo, i need to go inside driver dir and process there prepare & compile scripts?
Then should i move build dir into my path where global node_modules are stored? Or there is some easiest way to use locally build package ?
I'm working on OSX.

[2021-01-26 19:41] shibupanda commented on #75
Yes inside appium-flutter-driver

[2021-01-26 19:44] hex0cter commented on #75
@jstephancc this is how I tested it locally:

* clone the repo
* go to the **driver** folder
* run `npm link`
* Find out where you appium is installed (different for command line and appium desktop). In my case `which appium` suggests it is installed `~/.nvm/versions/node/v12.16.2/bin/appium`. Based on that I can tell the appium-flutter-driver is in `~/.nvm/versions/node/v12.16.2/lib/node_modules/

[2021-01-27 06:21] k19810703 opened #133 "flutter application quit immediately after opened on ios real device"
when I run my test against ios real device , my flutter application quit immediately after it was opened.
appium version 1.20.1

appium log
[HTTP] --> POST /wd/hub/session
[HTTP] {"capabilities":{"alwaysMatch":{"platformName":"iOS","deviceName":"HD-iphone","platformVersion":"14.3","app":"/Users/wuhuidong/Downloads/digitalapp-ita-debug.ipa","automationName":"Flutter","noReset":true,"retryBackoffTim

[2021-01-27 07:18] jstephancc commented on #75
Hi,

I have some problem with running my version of appium-flutter-driver.

I removed `rm -r /usr/local/lib/node_modules/appium-flutter-driver`

I have project cloned into:
`/Users/jakubstephan/dev/appium-flutter-driver`

I have run there a command `npm link`:
[code]

It looks like link is created (location: /usr/local/lib/node_modules/appium-flutter-driver):
`lrwxr-xr-x    1 jakubstephan  admin

[2021-01-27 08:16] jstephancc commented on #75
Together with my team college we found an issue.

Problem is, that appium uses appium-flutter-driver from:
`/usr/local/lib/node_modules/appium/node_modules/appium-flutter-driver`

i had also appium-flutter-driver installed in latest version but in:
`/usr/local/lib/node_modules/appium-flutter-driver`

And...
`/usr/local/lib/node_modules/appium/node_modules/appium-flutter-driver` - verision 0.0.23
`

[2021-01-27 08:18] hex0cter commented on #75
I was going to ask the same question. But maybe it is a question for Appium?

[2021-01-27 08:28] hex0cter commented on #123
@truongsinh @shibupanda Any plans to bump the version of appium-flutter-driver, to include https://github.com/truongsinh/appium-flutter-driver/pull/62, which is suppose to solve the problem of real iOS?

[2021-01-27 08:30] shibupanda commented on #123
@hex0cter today I will publish it.

[2021-01-27 08:37] shibupanda commented on #75
@hex0cter @jstephancc that should not be the case because "appium-flutter-driver": "^0" mentioned in appium package.json so it should pick latest one started with 0.*.* until will release a major version.
https://github.com/appium/appium/blob/d37090e67e88d2f59113b62174f1dcd1d2e8611f/package.json#L48

[2021-01-27 08:54] hex0cter commented on #75
I just double checked that:
appium@1.20.2 -> appium-flutter-driver@0.0.25
appium@1.20.0-beta.0 -> appium-flutter-driver@0.0.27

As of today when we install appium by `npm install -g appium`, by default appium@1.20.2 is installed.

So I guess next release of appium will pick up appium-flutter-driver@0.0.27 and above.

[2021-01-27 17:15] ahmer-hash commented on #115
@hex0cter did you managed to resolve the issue by creating --profile build? I tried the same but it seems that ext.flutter.driver not recognized. However, I included the flutter_driver dependency under dev_dependencies in pubsec.yaml file.
Any lead will be much appreciated.

Note: I am calling enableFlutterDriverExtension() into main() method.

[2021-01-27 20:23] hex0cter commented on #115
@ahmer-hash It worked for me. This is how I did it:

* Add flutter_driver into the dev dependencies, my pubspec.yaml looks like this
[code]
* In `lib/main.dart`, add
[code]
and
[code]
* flutter build ios --profile.

Then the app can be loaded to the phone.

There is a flutter app example here: https://github.com/truongsinh/appium-flutter-driver/tree/master/example/flutter_app_under_test. I suggest

[2021-01-28 05:29] shibupanda commented on #39
Hi All, The iOS related issue has been fixed in terms of iProxy.
Please use the latest appium-flutter-driver to make it work.
[https://www.npmjs.com/package/appium-flutter-driver/v/0.0.28](url)

Thanks @KazuCocoa and @hex0cter for collaboration.

[2021-01-28 06:26] jstephancc opened #136 "Missing changelog"
Hello guys,

I would like to thanks you for working on this project.

My question is, are you going to support some changelog file, to see differences between versions?
Also, are you going to manage releases here on github ?

[2021-01-28 06:56] shibupanda commented on #136
Hi @jstephancc Thanks to raising your concern yes I am trying to reach @truongsinh to make these changes.
Seems he is not active. Will plan once he will back.

[2021-01-28 06:56] #136 closed

[2021-01-28 15:12] ajschwieterman opened #138 "iproxy never starts when attempting to launch iOS app on real device"
I am trying to launch the Flutter app on my iPhone, but I get this error below saying it failed to connect.  It looks like `iproxy` was never started.  When I launch `iproxy` in another terminal window, Appium successfully connects to my iPhone.

Appium Flutter Driver v0.0.28
Appium v1.19.0

<details>
<summary>Appium log without launching iproxy in separate terminal window.</summary>

[code]
</det

[2021-01-28 15:48] shibupanda commented on #138
cc @KazuCocoa

[2021-01-28 16:01] shibupanda commented on #138
@ajschwieterman mean time could you please check usbmuxd is there in you machine in **/var/run/usbmuxd**

[2021-01-28 16:09] ajschwieterman commented on #138
usbmuxd is not in **/var/run/usbmuxd** on my machine, but I do have libusbmuxd installed on my machine via **brew**.

[2021-01-28 18:14] KazuCocoa commented on #138
it seems strange... Afaik, macOS communicate with iPhones via `/var/run/usbmuxd`, in general.

Current port forwarding logic does not use iproxy/libusbmuxd.
It uses nodejs implementation used part of Appium as same as XCUITest in appium.

[code]
This line worked, so probably port forwarding itself worked, but maybe something wrong occurred.

Maybe I should dig `Check Dart Observatory` this logic i

[2021-01-28 19:22] shibupanda commented on #138
Hi @KazuCocoa just to confirm Where we defined localSocket value.
https://github.com/truongsinh/appium-flutter-driver/blob/22d71e112dd965280fb41d73b5e0d83ebbcea415/driver/lib/sessions/ios.ts#L36

[2021-01-28 19:37] ajschwieterman commented on #138
@shibupanda @KazuCocoa I was wrong about my previous comment.  I found the `/var/run/usbmuxd` file via the terminal.

[2021-01-28 20:43] ahashmi24 commented on #39
@shibupanda
I gave a try and have observed that it is working fine.

Thanks for the fix.

[2021-01-28 21:30] ajschwieterman commented on #39
@ahashmi24
I'm still not able to launch Flutter apps on iOS (see #138).  I wonder if I am missing any dependencies, maybe **usbmuxd**?  Any help would be appreciated.

[2021-01-28 21:53] KazuCocoa commented on #138
https://nodejs.org/api/net.html#net_net_createserver_options_connectionlistener cc @shibupanda

It is a unix domain socket > `/var/run/usbmuxd`
https://www.theiphonewiki.com/wiki/Usbmux is a good source about it

[2021-01-29 03:30] KazuCocoa commented on #138
btw, what response can you get against `http://127.0.0.1:49794` which is part of `ws://127.0.0.1:49794/lJwQDCtpv-k=/ws`?
`curl http://127.0.0.1:49794` is enough.
If port forwarding itself does not work, it will print something connection refused error. Afaik, the return value probably will be something auth error message. (Then, port forwarding itself works. But probably something wrong happened i

[2021-01-29 05:58] #39 closed

[2021-01-29 06:09] #123 closed

[2021-01-29 07:14] #98 closed

[2021-01-29 07:57] KazuCocoa commented on #75
Probably the next 1.21.0 will have the version

[2021-01-29 08:43] hex0cter commented on #75
In case anyone wants to try the latest version, `appium@1.20.0-beta.0` already have `appium-flutter-driver@0.0.28`. https://david-dm.org/appium/appium

[2021-01-29 10:49] hex0cter commented on #138
I can confirm the problem occurred after 4a9d0beba89620ef6509d724aa94747b7e8ab9eb.

After seeing
[code]
this is what I got:
[code]

[2021-01-29 15:17] cuk2dn95 commented on #96
any updated :(

[2021-01-29 17:55] ajschwieterman commented on #138
I updated to Appium v1.20.2, and it seems to working now.

[2021-01-29 18:00] KazuCocoa commented on #138
Okay, thanks. It seems some corner cases were there I did not get.

As a fallback, https://github.com/truongsinh/appium-flutter-driver/blob/c9c91769962b06e09f129acfae97fc8a9d7a3c4e/driver/lib/sessions/ios.ts#L39 can switch with `iproxy` command for now.
The previous `iproxy` command line was for newer versions. Older (I'm not sure which version) ones had a different argument format. I mean `port:p

[2021-01-30 08:07] KazuCocoa commented on #138
Hi, could someone try https://github.com/truongsinh/appium-flutter-driver/pull/139 this branch and share the log?
I'd like to check if something port busy status is there before adding the fallback.

[2021-01-30 08:18] hex0cter commented on #138
I will give it a try now.

[2021-01-30 08:33] hex0cter commented on #138
I got the same result with this branch.  Full logs attached.

[appium-appium-flutter-driver-pr139.log](https://github.com/truongsinh/appium-flutter-driver/files/5897612/appium-appium-flutter-driver-pr139.log)

[9:26:24]  ~  $ curl --verbose http://127.0.0.1:64770
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to 127.0.0.1 (127.0.0.1) port 64770 (#0)

* Empty reply from server
* Connection #

[2021-01-31 01:53] KazuCocoa commented on #138
Thanks!
I've added one more check logic in https://github.com/truongsinh/appium-flutter-driver/pull/139/files#diff-9e4b47764b826fd907f881068caf0f9872da1fe7c2d7cb2de5f62afc98e83cf7R105-R108
Could you try the latest branch again? (Only the logfile is enough, thanks)

[2021-01-31 09:33] hex0cter commented on #138
I tested it a dozen of times today. But somehow I cannot see this problem anymore. It works perfectly ok with `appium@1.20.0-beta.0` which includes `appium-flutter-driver@0.0.28`. I am not really sure what has changed since yesterday. 😥😥😥

I might play a bit more with it during the day, and get back if I can find something. Otherwise I am sure what else can be done.

@ajschwieterman, you mentioned

[2021-01-31 09:38] KazuCocoa commented on #138
Okay, thanks. hm.. it seems strange, but glad to hear current logic worked on your environment.

My guess was something port busy or 'listening' status.
https://github.com/truongsinh/appium-flutter-driver/pull/139 itself handles such possible edge case well than only current method. So, the PR itself should improve the logic, I believe.

[2021-01-31 09:41] hex0cter commented on #138
Cool. Please let me know if you still need to the logs of that branch (there won't be errors though, I guess).

[2021-01-31 13:27] ajschwieterman commented on #138
@hex0cter I replaced the appium-flutter-driver directory in Appium v1.20.2 with the v0.0.28 release code.

[2021-01-31 14:09] hex0cter commented on #138
@KazuCocoa I am able to reproduce the issue again on your branch. Not sure if has anything to do with the status of the phone.

[appium-appium-flutter-driver-pr-139-ii.log](https://github.com/truongsinh/appium-flutter-driver/files/5899880/appium-appium-flutter-driver-pr-139-ii.log)
[appium-appium-flutter-driver-pr-139.log](https://github.com/truongsinh/appium-flutter-driver/files/5899881/appium-ap

[2021-02-01 04:10] pramod28m commented on #39
How to upgrade from v0.0.25 to 0.0.28 @shibupanda @KazuCocoa .
I am seeing two Appium flutter driver version in laptop. By Default its taking v0.0.25 version when trying to launch the app in iOS real device.

[2021-02-01 04:40] KazuCocoa commented on #39
Using `appium@beta` is the easiest way

[2021-02-01 05:07] pramod28m commented on #39
Thanks @KazuCocoa .

[2021-02-01 06:03] KazuCocoa commented on #138
Potentially, retry might help... like https://github.com/libimobiledevice/libusbmuxd/blob/f48ffb1a6cc32214c91f1cc09c572ab19a72924d/src/libusbmuxd.c#L951 ?
But I have no good idea...
Let me add iproxy command stuff later as another PR

[2021-02-03 21:25] hex0cter commented on #115
Just in case anyone else is looking for the flutter inspector, in IntelliJ when the app is started in debugging more, there is a button called `Open DevTools`. Clicking on it will display the widget tree.

![image](https://user-images.githubusercontent.com/9008480/106811487-aecc6a80-666e-11eb-99d8-f7badf5bc939.png)

[2021-02-04 07:44] hex0cter opened #140 "How to get one of the elements if the finder matched more than one?"
With the finder from appium-flutter-driver, sometimes I got more than one element returned. Then if I do another API call, it returns `Bad state: Too many elements`. For example, in the code below, if there are more than one widgets with the same text:
[code]
the last line will raise:
[code]

If I call `element[0].text`, I will get `(<class 'TypeError'>, TypeError("'FlutterElement' object is not s

[2021-02-04 07:59] shibupanda commented on #140
@hex0cter
Below link may help I guess flutter community has not yet exposed finders to find elements and perform action in the basis of index. Work around to assign different key.

https://github.com/flutter/flutter/issues/22868

[2021-02-04 08:57] hex0cter commented on #140
Thanks for confirming this @shibupanda. One more question, is there any nice way to check the number of matched elements without getting the exception?

In the example above, before calling `element.text`, we don't know if the element exists at all, or if more than one elements are matched. In either case, when I call `element.text`, I only get exceptions.

[2021-02-04 16:08] Prasea1993 opened #141 "waitFor seems to be not working for other than valueKey locator."
When i tried to use waitFor condition with different flutterelements i.e. toolTip, text ,valueKey and Type. waitFor only working with valueKey as identifier.

Below code returning null pointer .
public MobileElement waitBasedOnType(String flutterElementType, String locatorValue, int waitTime) {
		MobileElement element = null;

		if (flutterElementType.equalsIgnoreCase("ToolTip")) {
			element = (M

[2021-02-08 04:44] orangex commented on #116
I am facing the same problem , any advice to fix it

[2021-02-12 14:50] Reppinger opened #143 "Does pageBack() work?"
I am using an Android emulator.
Based on looking at the code and the Readme, it looks like I should be able to go back with the pageBack() finder.  I have the following Ruby code:
[code]

Appium writes this to the log:
[code]

But nothing happens and it times out after a long time. The app never goes back.

Am I doing something wrong?

[2021-02-13 11:34] shibupanda commented on #143
@Reppinger is the application published in different language except English ?

[2021-02-13 16:46] mesolutionsN commented on #28
Is there any further fix or workaround possible?

[2021-02-13 17:36] Reppinger commented on #143
Thanks for responding, @shibupanda .  No, our app is English only.

[2021-02-13 18:03] shibupanda commented on #143
@Reppinger could you please check with flutter driver as well.

[2021-02-13 18:06] Reppinger commented on #143
Sorry @shibupanda, I do not understanding your request.  Check if flutter driver is building with a non-English language?

[2021-02-13 18:08] shibupanda commented on #143
@Reppinger I mean could you please the same test using flutter driver without Appium. Below may help you.

https://flutter.dev/docs/cookbook/testing/integration/introduction

[2021-02-15 11:35] joaozanutto opened #144 "Unknown server-error when launching the app"
So, I'm trying to run this simple test that I've built last week (in which it was working) and now I'm receiving this unknown error below. The project is not much different than the boilerplate project, just adapted to my APP. The APP opens up in my device and stops after 3 retries.

[code]

I also checked `http://127.0.0.1:4723/wd/hub/sessions` via chrome browser and I see this result:
`{"value":

[2021-02-23 11:32] hailongchen-chowbus opened #145 "Flutter driver for iOS Real Device (Hybrid App)"
The server is running
[2021-02-23 07:27:36][Appium] Welcome to Appium v1.18.3
[2021-02-23 07:27:36][Appium] Non-default server args:
[2021-02-23 07:27:36][Appium]   allowCors: true
[2021-02-23 07:27:36][Appium]   logTimestamp: true
[2021-02-23 07:27:36][Appium]   localTimezone: true
[2021-02-23 07:27:36][Appium]   relaxedSecurityEnabled: true
[2021-02-23 07:27:36][Appium]   allowInsecure: {
[2021-

[2021-02-23 12:07] hailongchen-chowbus commented on #145
The App is hybrid. flutter embedded.

[2021-02-24 22:40] Reppinger commented on #143
Quick update: I haven't had a chance to do this yet. I will try writing a flutter driver test without appium that uses the device back.

[2021-02-25 19:00] shibupanda commented on #145
In which file enableFlutterDriverExtension() has been added?

[2021-02-25 19:01] shibupanda commented on #141
@Prasea1993 could you please share Appium sever logs.

[2021-02-25 19:08] shibupanda commented on #121
Closing as it's not related to driver. Please check the setup.

[2021-02-25 19:08] #121 closed

[2021-02-26 05:49] hailongchen-chowbus commented on #145
@shibupanda
The following steps in Hybrid Project is set:
`dev_dependencies:
	test: any
	flutter_test:
		sdk: flutter
	flutter_driver:
		sdk: flutter`

`
void main() {
	enableFlutterDriverExtension();
	runApp(MyApp());
}
`

[2021-02-26 06:16] shibupanda commented on #145
@hailongchen-chowbus is the file name is main.dart?

[2021-02-26 06:25] hailongchen-chowbus commented on #145
"dependencies" is configuration in pubspec.yaml file;
"main" is in main.dart file

[2021-02-28 07:43] huylg commented on #28
do any one have solutions for this issue? I am getting the same issue :(

[2021-03-02 15:30] Reppinger commented on #143
@shibupanda I can't seem to get pageBack() to work in flutter_driver tests, either. I've been digging but have no idea why.  The app is English only. It takes a long time, times out and never clicks the back. Closing issue since it is not appium-flutter-driver.

[2021-03-02 15:30] #143 closed

[2021-03-03 06:04] #141 closed

[2021-03-03 06:04] Prasea1993 commented on #141
I've used switchContext for flutter and Native app , so it was a workaroud for my problem.

[2021-03-04 06:34] KazuCocoa commented on #145
How about the latest `appium@beta`?
Please make sure your flutter-driver is 0.0.28+.

[2021-03-04 06:39] KazuCocoa commented on #144
How was your logcat while the test running?
Probably you can find a line like `Observatory listening on xxx`. Only then this driver can work.

[2021-03-04 08:56] hailongchen-chowbus commented on #145
Still error even though Appium_1.20.2, it's the same error info.
And...I've refactored the test environment, flutter-driver is the newest
@KazuCocoa
Do your team has ios real devices, hybrid application (flutter embedded)?

[2021-03-04 09:06] KazuCocoa commented on #145
No, i haven't tried.

Technically, flutter-driver only needs websocket to Dart VM running on a device. The URL is exposed by `enableFlutterDriverExtension`.

As debug, you can check if the iOS device's system log has a line like `Observatory listening on xxxx`. If it did not exist, this flutter driver cannot interact with the DartVM layer technically. It means this driver does not work for it.
htt

[2021-03-04 09:26] vishchi commented on #144
Change the platform version to that of yours.

[2021-03-04 09:57] hailongchen-chowbus commented on #145
@KazuCocoa
actually, I've read all the issues and the communication theory about flutter driver before.
uh.... thank your suggestion @KazuCocoa
I'll try again.

[2021-03-15 11:28] wenhuichen commented on #145
我们公司也是混合app，inspector元素识别不了，你是怎么识别的？（纯flutter的app可以识别）

[2021-03-15 17:08] KazuCocoa commented on #145
For iOS real devices, https://appium.io/docs/en/drivers/ios-xcuitest/#accessibility-preferences-fine-tuning this accessibility preference helped a couple of friends of mine. Nothing we can do except for it so far.

[2021-03-15 19:01] ajschwieterman commented on #115
@hex0cter @shibupanda If I execute `ios-deploy --noinstall --justlaunch --bundle <your Flutter project root>/ios/Debug-iphoneos/Runner.app` with the debug Flutter app installed, I can launch a debug Flutter app on iOS 14+.  Is there a way this can somehow be added to the appium-flutter-driver?

https://github.com/flutter/flutter/issues/60657#issuecomment-688478590

[2021-03-16 20:41] hex0cter commented on #115
@ajschwieterman I was trying to play with what you mentioned, but I cannot copy the app to the device using `ios-deploy`:

[code]
I did notice that the build path on my machine is different than yours. On my machine it is `build/ios/iphoneos/Runner.app` instead of `ios/Debug-iphoneos/Runner.app`. How did you build the app?

[2021-03-16 20:46] ajschwieterman commented on #115
@hex0cter Here are the steps I took.

1. Build the iOS debug build `flutter build ios --debug`
2. Install the app manually to the iPhone `ideviceinstaller -i build/ios/iphoneos/Runner.app`
2. Launch the app on the phone `ios-deploy --noinstall  --bundle build/ios/Debug-iphoneos/Runner.app`

[2021-03-16 21:11] hex0cter commented on #115
Thanks @ajschwieterman. That helps! Now I am able to install the app to the phone with these commands. However if I launch it, it still get this `In iOS 14+, debug mode Flutter apps can only...." error. Not sure if I missed anything.

[2021-03-17 00:12] ajschwieterman commented on #115
@hex0cter did you try to launch the app with `ios-deploy --noinstall --bundle build/ios/Debug-iphoneos/Runner.app`?

[2021-03-17 01:25] hailongchen-chowbus commented on #145
@wenhuichen  你可以在iOS的设置中，将"读取屏幕"选型打开

[2021-03-17 01:43] hailongchen-chowbus commented on #145
I show you the screenshots.

the settings contents are in file {project}/pubspec.yaml.
[image: image.png]

 `enableFlutterDriverExtension()` was added in  {project} /lib
<https://github.com/FanTuanEats/restaurant_app/tree/dev/lib>/main.dart .
But now our developers have removed the code.

shibupanda ***@***.***> 于2021年2月26日周五 上午3:00写道：

[2021-03-17 08:28] hex0cter commented on #115
Thanks @ajschwieterman.

So `ios-deploy --noinstall --bundle build/ios/Debug-iphoneos/Runner.app` works. Not super stable as it is failing sometimes.

If I run `ios-deploy --justlaunch --noinstall --bundle build/ios/Debug-iphoneos/Runner.app` I always get the error of `In iOS 14+, debug mode Flutter apps can only....`.

I remember appium is using ios-deploy internally, so maybe there is something

[2021-03-17 13:32] ajschwieterman commented on #115
Thanks @hex0cter

If you can lead me to where Appium uses `ios-deploy`, I can make some changes to my local repo and test them out.

[2021-03-17 14:11] hex0cter commented on #115
@ajschwieterman Please check this log and search ios-deploy in it. It is a fallback for installation. You just need to give the `appPushTimeout` a very small value to trigger it.

[appium1.log](https://github.com/truongsinh/appium-flutter-driver/files/6156980/appium1.log)

Hope this helps.

[2021-03-18 14:24] ajschwieterman commented on #115
@hex0cter I think I found where the driver launches the app; it's within the WebDriverAgent.

https://github.com/appium/WebDriverAgent/blob/fe56167ae0d7df3a9631432e4c3e39e689e4272f/WebDriverAgentLib/Commands/FBSessionCommands.m#L120

[2021-03-18 19:35] hex0cter commented on #115
@ajschwieterman thanks for sharing. I also had a look earlier today at this, but ended up here: https://github.com/truongsinh/appium-flutter-driver/blob/5b5d9e826d000692222be67015f7ee4fbc413029/driver/lib/sessions/ios.ts#L20-L22 and here: https://github.com/appium/appium-xcuitest-driver/blob/8632cc98e2eee7c5875d79f92ecf38cfdd42acf5/lib/ios-deploy.js#L51-L53. Not sure if it is the right path but ju

[2021-03-18 20:57] just255 commented on #116
Was anyone able to resolve this? The root is because we are trying to use `Flutter` as the `automationName`, just not sure why it's happening

[2021-03-19 15:25] ajschwieterman commented on #115
@hex0cter What files are contained in `/Volumes/case-sensitive/git/scrive_app_test/utils/../builds/ios-physical.zip`?

[2021-03-19 15:28] hex0cter commented on #115
It’s a flutter app we are testing.  A zipped Runner.app.

[2021-03-19 15:32] ajschwieterman commented on #115
@hex0cter I can't seem to reproduce the logs you attached earlier.

[2021-03-19 15:38] hex0cter commented on #115
That’s odd. I can always trigger the fallback for installation. But I have some problems using ios-deploy to install my app. Nothing happens on the phone when I run the command from the terminal. (The demo app works though)

[2021-03-19 15:42] ajschwieterman commented on #115
If I add the `--debug` option to the `ios-deploy` command in the appium-flutter-driver repo, I can get the app to launch, but it stays stuck and doesn't proceed.

The issue at hand is a debugger/host computer isn't being associated/attached to the session, which I have no clue how to do.

[2021-03-19 15:49] hex0cter commented on #115
Me neither. Theoretically if an IDE or “flutter run” can do it, appium should also be able to do it. But I have no idea how it is done.

[2021-03-19 15:51] ajschwieterman commented on #115
@Reppinger @shibupanda @ahmer-hash @KazuCocoa Any idea on how to do this?

[2021-03-19 16:43] KazuCocoa commented on #115
No for now since I don't know what `flutter run` does behind the command.
The first step should be to track what the command does.

If their requirement is attaching to a running process, I guess it is difficult to guarantee via XCTest framework since the XCTest's launch method tries to restart the app under test's process (according to Apple's documentation)

[2021-03-19 17:00] JessWeston opened #146 "Command not support: "flutter:waitForFirstFrame""
Apologies for re-raising this issue since it has already been raised: [#28](https://github.com/truongsinh/appium-flutter-driver/issues/28) however that thread seems to have gone stale waiting for a response from the original raiser.

I am trying to run the example project here in this repo using the Java client. However the test fails as soon as it interacts with Flutter in the Appium Server. I ha

[2021-03-20 13:05] hex0cter opened #148 "Appium hangs when finder is not working."
During the tests I have found the Appium request stalls when a command is not working. For instance, I would like to add the following code in https://github.com/truongsinh/appium-flutter-driver/blob/master/example/python/example.py.

[code]

However the code stops at the last line. Here is the log of Appium:
[code]
then nothing happens forever.

So I have two questions here:
1) Did I do anything

[2021-03-23 13:56] JessWeston commented on #146
This was caused by issue [#15104](https://github.com/appium/appium/pull/15104) in Appium. After modifying the dependency manually I was able to force Appium to use version 0.0.28 instead of 0.0.25 which did not contain the waitForFirstFrame call that was failing.

[2021-03-23 13:56] #146 closed

[2021-03-23 19:44] ajschwieterman commented on #115
@hex0cter Here are the steps I took to achieve consistent app launches:

1. In the root directory of `appium-flutter-driver` go to file `node_modules/appium-xcuitest-driver/build/lib/ios-deploy.js`.
2. Add `let proc;` global variable.
3. Change `await exec(IOS_DEPLOY, [
          '--id', this.udid,
          '--bundle', app,
        ]);` to
[code]
4. Add the following code to the `remove(bundleId)

[2021-03-24 10:47] haibgit commented on #18
I've same issues when run with android virual 9.0 google play.
I using app hello_word in default flutter C:\flutter\examples\hello_world
I using https://pypi.org/project/Appium-Flutter-Finder  version 0.1.3

[2021-03-29 07:00] hex0cter commented on #115
@ajschwieterman Sorry I haven't been able to test it so far. Will have a look as soon as I can.

[2021-03-31 09:47] llpan-github opened #149 "/wd/hub/session/xxxx/source 501"
appium :v1.20.2
device : iphone se 13.7
Desired Capabilities：
{
  "automationName": "flutter",
  "platformName": "iOS",
  "udid": "00008030-000644A80285802E",
  "platformVersion": "13.7",
  "deviceName": "Ly的iPhone",
  "bundleId": "com.yunzhanghu.ytt4mobile"
}
 when i start session happen error
log:
[info] [35m[Appium][39m Welcome to Appium v1.20.2
[info] [35m[Appium][39m Non-default server ar

[2021-04-05 09:38] rahulacko commented on #27
I am also facing the same. This project only works on Sample apps. I couldn't find any one who is successfully able to automate his flutter app

[2021-04-05 09:41] sahanaprasad commented on #27
I managed to resolve this issue. It is solely because the flutter driver extension was not enabled. Please make sure you enable it in the proper main function of your app. I also got this issue when I used the emulator. try using the real device instead if you still face the issue.

[2021-04-05 09:43] rahulacko commented on #27
yeah, flutter driver extension is enabled. I can try it on a real device.

[2021-04-05 11:44] rahulacko commented on #27
If we just use the flutter apk given by developers and launch it using node js script. I dont see flutter inspector would be able to identify that

[2021-04-08 17:55] doc-rj-celltrak commented on #146
@JessWeston Thanks for this information. I'm running into the same problem, but I'm new to Appium. Can you show me how you modified the dependency to pick up version 0.0.28?

[2021-04-08 18:14] doc-rj-celltrak commented on #146
@JessWeston This is the pom file I'm using for appium-flutter-finder. I don't see a dependency for appium-flutter-driver, but I do see the appium java-client in there.

[code]

[2021-04-08 19:14] JessWeston commented on #146
@doc-rj-celltrak its more of a node thing than a maven thing. This is the dependency that the Appium node package downloads for appium-flutter-driver. I'm on MacOS to the following will show which version my Appium is using:
`cat /Applications/Appium.app/Contents/Resources/app/node_modules/appium/node_modules/appium-flutter-driver/package.json`
This also assumes the Appium desktop install, path's

[2021-04-08 19:36] doc-rj-celltrak commented on #146
Thanks for your help @JessWeston. I'm running appium in the Bitrise cloud, but I'll definitely try this locally first. Much appreciated!

[2021-04-09 17:11] doc-rj-celltrak commented on #146
@JessWeston thanks again. This worked locally. For what it's worth, and for anyone who needs automation, I found the npe tool nice for editing package.json.

cd /usr/local/lib/node_modules/appium
npm install -g npe
npe dependencies.appium-flutter-driver 0.0.28

I did get a weird error when re-installing appium with --unsafe-perm=true, but it didn't seem to make a difference...

[code]

[2021-04-12 02:40] doc-rj-celltrak commented on #146
I couldn't get this working on the remote CI machine. However, I ended up installing appium version 1.21.0-rc.1 which uses appium-flutter-driver 0.0.28 by default, and all is well.

[2021-04-12 10:48] windows7lake commented on #27
I faced this trouble too. And I run script on Android 8.0 (AUZS) but not succuss on Android (Pixel 3).
[code]

[2021-04-12 10:49] windows7lake commented on #27
@sahanaprasad

[2021-04-12 17:14] Reppinger opened #150 "integration_test replacing flutter_driver?"
I'm really enjoying appium-flutter-driver and it is our team's preferred way to test our flutter apps. We are about to use it for a flutter web app (haven't tried that before).

However, the Flutter team has recently added the integration_test package into the flutter SDK. They are encouraging users to migrate away from flutter_driver.  An [article written by a Google Product Manager on Medium](ht

[2021-04-15 12:43] shr-avi opened #151 "Checking whether a element is visible is not working"
Looks like is_displayed selenium function is not implemented yet. Can you please suggest a workaround for this

[2021-04-15 12:54] shr-avi commented on #113
Can we use this waitFor to check whether a element is displayed or not?

[2021-04-16 02:04] just255 opened #152 "All Flutter Driver commands result in NULL"
After taking forever to get this setup, I finally have a working instance of a Flutter Driver. My issue is that every command I run  results in `Responding to client with driver.execute() result: null`.
Here are my caps:
`capabilities.setCapability("automationName", "Flutter");`
`capabilities.setCapability("noReset", "true");`
`capabilities.setCapability("deviceName", "SM_G781U1");`
`capabilities.

[2021-04-27 16:14] MikeBenitez1 commented on #116
Hi @sahanaprasad , how did you solve this issue?

[2021-04-29 15:19] karlisV commented on #148
Hi, @hex0cter! Don't know if it's still an issue, but what we did to work around this issue was to call `flutter:waitFor` and pass in the finder as a parameter, before we initialized the Flutter element itself. Because it raises an exception if the finder is not found in the given time it worked quite well in our case.
Not a python user so can't give you the exact example, but in ruby, we did some

[2021-05-04 02:16] teeencho commented on #96
+1

[2021-05-04 13:45] yanivamram commented on #116
I have also encountered with the same issue :-(
I am trying to run the appium server together with the emulator on an AWS EC2 instance(with no UI).
It looks like:
`[debug] [WD Proxy] Proxying [GET /appium/device/pixel_ratio] to [GET http://127.0.0.1:8201/wd/hub/session/096bd0db-bc3d-4fbc-8f5e-1f13566e098e/appium/device/pixel_ratio] with no body
[debug] [WD Proxy] Got response with status 200: {"se

[2021-05-10 19:56] #150 closed

[2021-05-23 17:45] 111mma commented on #152
vb

[2021-05-26 07:49] rahulacko commented on #27
I am using an android emulator. Every time I launch the app it waits for 300 seconds. Not sure what is it looking for 300 seconds and after that execute my script.
Flutter 2.3.0-13.0.pre.163
Dart SDK version: 2.14.0-145.0.dev

Please find the below appium logs -
 Attempt #1
[FlutterDriver] Connecting to Dart Observatory: ws://127.0.0.1:37293/voIGKR1q_Bg=/ws
[FlutterDriver] Connected to ws://127.0.

[2021-05-26 13:25] LSambo02 commented on #28
For me it was getting this error for using incompatible packages with Sound Null-Safety.
After I rolled back to a sdk prior to 2.7 (dart) and got rid of all the package versions related to null-safety it worked.

[2021-06-02 12:53] rahulacko commented on #114
This is not working. I am using appium flutter driver + Java. It just keeps on looking for the object to infinity. Do we have any solution for this?

[2021-06-02 12:54] rahulacko commented on #114
[code]

Waiting here for more than an hour

[2021-06-02 13:03] ajschwieterman commented on #114
What version of the `appium-flutter-driver` are you using?  v0.0.28 should not have this issue.

[2021-06-02 13:18] rahulacko commented on #114
How to find the appium-flutter-driver version? @ajschwieterman

[2021-06-02 13:30] ajschwieterman commented on #114
`npm -v appium-flutter-driver`

https://www.npmjs.com/package/appium-flutter-driver

[2021-06-02 15:16] rahulacko commented on #114
@ajschwieterman it is 7.15.1

[2021-06-02 17:37] ajschwieterman commented on #114
My mistake.  `npm view appium-flutter-driver version`

[2021-06-02 17:39] rahulacko commented on #114
it is 0.0.28 @ajschwieterman

[2021-06-02 17:54] ajschwieterman commented on #114
`(MobileElement) driver.executeScript("flutter:waitFor", find.byValueKey(locator), 30);`

[2021-06-02 20:26] juanduarte1927 commented on #145
the automation for ios real devices is available?

[2021-06-03 09:30] rahulacko commented on #114
it is still stuck in the same place. I don't see there is any timeout in the below scenarios-
1) When the script doesn't have the key but the mobile app screen has the object
2) When the script has the key but the same key is not present on the mobile screen.
@ajschwieterman

[2021-06-03 13:30] rahulacko commented on #114
This is the error i m getting but it is not stopping my test cases. Keeps on searching

`Encountered internal error running command: Error: Cannot execute command waitFor, server reponse {
[debug] [MJSONWP (d79ca18a)]   "isError": true,
[debug] [MJSONWP (d79ca18a)]   "response": "Timeout while executing waitFor: TimeoutException after 0:00:10.000000: Future not completed\n",
[debug] [MJSONWP (d79c

[2021-06-03 13:34] ajschwieterman commented on #114
Maybe ask @baovu2512 about the problems your seeing since he made the PR for this.

[2021-06-03 13:40] rahulacko commented on #114
@baovu2512 can u please help here

[2021-06-04 15:10] funckytown1 opened #155 "WaitFor not finding displayed element"
I am using the flutter:waitFor command to check whether or not an element is displayed on screen however it is failing to recognize some elements and is timing out without finding them even though they are clearly displayed. For clarity the element is found and returned using the valueKey it is just not found by the waitFor command.
[code]

Log for execute script

[code]

[2021-06-07 01:13] hailongchen-chowbus commented on #145
Not yet

[2021-06-11 22:01] MikeBenitez1 commented on #125
Hi @wanglinwu2019 , did you resolve this? I am having same problem

[2021-06-13 10:54] yanivamram commented on #90
Hey,
I have the fix for this issue
But I don't have the required permissions to create a branch and PR.
Pls grant the permissions and I will share the PR..

Thanks,
Yaniv

[2021-06-15 15:39] #155 closed

[2021-06-17 10:36] alan0508 opened #157 "how to locate ICONbutton"
appium flutter driver and ppium_flutter_finder  cannot locate Iconbutton，what should i do to locate Iconbutton and tap them?

[2021-06-23 17:12] alexborelli1 commented on #116
Hello. I am facing the same problem , any advice to fix it

`WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.openqa.selenium.os.ProcessUtils (file:/C:/Users/usuario/.m2/repository/org/seleniumhq/selenium/selenium-remote-driver/2.53.1/selenium-remote-driver-2.53.1.jar) to field java.lang.ProcessImpl.handle
WARNING: Please consider reporting thi

[2021-06-23 17:14] alexborelli1 opened #158 "Cannot read property 'match' of undefined"
Hello. I am facing the problem: "Cannot read property 'match' of undefined". Any advice to fix it

[code]

[2021-06-23 21:13] #158 closed

[2021-06-23 21:16] alexborelli1 commented on #158
The problem was accessing the app. Sorted out.

[2021-06-30 18:23] alexborelli1 opened #160 "How I verify is the switch is checked?"
Hello

I need help.

How I verify is the switch is checked with Appium Flutter Driver?

[2021-07-02 03:23] yjf0824 opened #161 "About descendant finder in flutter_driver"
https://github.com/truongsinh/appium-flutter-driver/blob/914cef350656f6281a8328b7450ab89e83b642bd/finder/python/appium_flutter_finder/flutter_finder.py#L81

If used in python3, base64.b64decode(serialized_finder) returns a byte string? And finder seems to be expected a dict, and json dumps return a string?
After modified local flutter finder code, I get the command output with following:
{"command

[2021-07-02 09:04] neillfontes opened #162 "Running tests on BrowserStack"
Hi everyone,

For those that ironed out the issues in their test suites and would like to run tests on BrowserStack I worked in a demo a few days ago and the tests work well there. In order to use it, the wdio configuration is as follows:

[code]

Few considerations:

- You will have to upload your application to their cloud in order to get the corresponding `bs://[application-id]` using their web

[2021-07-02 09:05] KazuCocoa commented on #161
Thanks for the report. Could you try out https://github.com/truongsinh/appium-flutter-driver/pull/163 ? (It is available as 0.1.4)

[2021-07-02 10:43] yjf0824 commented on #161
Thanks for reply. I have a question. If element layer of flutter as following:
layer1(ByValueKey "video_name_skip")
    -- layer2(ByValueKey "txt_skip_padding")
        -- layer3(ByValueKey "txt_skip")
I try to use:
    finder = FlutterFinder()
    key_finder = finder.by_value_key("video_name_skip")
    sub_key_finder = finder.by_value_key("txt_skip")
    final_finder = finder.by_descendant(key_fi

[2021-07-02 12:06] #161 closed

[2021-07-02 15:37] KazuCocoa commented on #161
I guess it tried to return null...

https://api.flutter.dev/flutter/flutter_driver/flutter_driver-library.html
For example, the element should be null safety, but it had no value.

[2021-07-05 13:09] laerciokonzen opened #164 "How to allow media or any other permissions?"
My app allways ask for user permission when first installed and, running a simple test I allways get stuck because I can't get the "Allow" option of the permission window.
![image](https://user-images.githubusercontent.com/2004796/124476345-10f1de80-dd79-11eb-8652-4738ccb18f3d.png)

[2021-07-05 17:26] KazuCocoa commented on #164
Will `"appium:autoGrantPermissions": true` help?
https://github.com/appium/appium-uiautomator2-driver
Afaik, the alert is by System, so this flutter-driver itself cannot interact with it. But this driver launches the app under test using appium-uiautomator2-driver. So this capability may help to allow/deny such permissions addressed in the manifest.

[2021-07-05 20:11] laerciokonzen commented on #164
@KazuCocoa yeah, it works just by adding ```autoGrantPermissions: true``` to the capabilities option. Thank you.

[2021-07-05 20:11] #164 closed

[2021-07-09 07:57] Nut41tank opened #166 "Appium Flutter driver not working with version 1.21"
### Error with Appium Flutter driver
**Appium version** - Appium v1.21.0
**Flutter version** Flutter 2.2.3
**LOG from Appium server:**
![image](https://user-images.githubusercontent.com/26061580/125043479-2c385300-e0c5-11eb-92b1-0b70474d9d9d.png)

**Description:**
I try to test Flutter driver with Appium but when start test it show this error
**TypeError: Cannot read property 'toLowerCase' of unde

[2021-07-09 08:08] KazuCocoa commented on #166
I guess this driver requires `deviceName` capabilities until 0.28.
Or I've improved some capabilities handler in a newer version. You could try out `appium@beta`.

[2021-07-09 09:41] Nut41tank commented on #166
After try `appium@beta` it working now
Thank you

[2021-07-09 09:41] #166 closed

[2021-07-09 09:43] Nut41tank commented on #166
Other question
I want to know that Why UiAutomation2 is open along with Appium Flutter driver ?
![image](https://user-images.githubusercontent.com/26061580/125058330-5ba28c00-e0d4-11eb-9c8b-29a6b321b545.png)

[2021-07-09 17:35] KazuCocoa commented on #166
FlutterDriver depends on UIA2 driver to manage the app under test outside Dart VM world.
'FlutterDriver' handles only Dart VM (Flutter) communication over websocket connection ( https://www.headspin.io/blog/webinar/deep-dive-into-appium-for-flutter-app/ may help about this "websocket connection")

[2021-07-13 12:32] yanivamram commented on #155
Hey,
Lately, I encounter with this issue more often.
Did you figure out what is the root cause for this issue?

[2021-07-13 12:37] yanivamram commented on #114
Hey,
I am also facing this issue, lately more often the before.
When I have encountered with the issue for the first time,
it suddenly vanished after I have tried to restart everything(appium server, wipe the emulator and cold boot etc.)

Yet, I could not find out what is the root cause, and now it happened again
Makes me nuts :-(

[2021-07-13 13:35] funckytown1 commented on #155
For this instance it was a result of where the keys were created by our dev team in the flutter code and moving the keys instantiation to the lower level libraries fixed it. Another time the developers changed something with the nullability of string used to create the valuekey which fixed it. However I have run into the issue a few more times and am currently trying to figure out why the flutter

[2021-07-19 08:38] cuk2dn95 commented on #162
thanks your post, I also got the problem with driver on SauceLabs

[2021-07-19 19:09] funckytown1 commented on #155
@yanivamram
Looks like animations in the app can cause this problem and the fix is setting the driver to run unsynchronized which is not a currently available feature in the appium-flutter driver
https://github.com/flutter/flutter/issues/34503#issuecomment-503545683

[2021-07-19 19:25] funckytown1 opened #168 "Unable to to find valuekeys"
Unable to find certain value keys due to the use of an animation in our app. The following issue suggests a work around that seems to work but requires the use of runUnsynchronized which is not currently implemented.

https://github.com/flutter/flutter/issues/34503#issuecomment-503545683

[2021-07-20 11:51] thusithatab opened #169 "Unable to accept permission alert on iOS"
I am trying to automate a Flutter-based iOS app with the Appium-flutter-driver on an iOS real device. In the initial screen of the app, there is a ‘Sign-in’ button and clicking on that, it opens a permission alert as it navigates to a web-based sign-in page. This alert has 'Cancel' and 'Continue' buttons and I want to click the 'Continue'. My script works fine until this alert but cannot get throu

[2021-07-21 12:55] rahulacko commented on #114
it is very irritating now. IF the element is not visible it keeps on waiting for infinite. Using the below line. It should timeout in 20 seconds but keeps on stuck at the same place

public MobileElement waitFor(String locator) {
        return (MobileElement) driver.executeScript("flutter:waitFor", find.byValueKey(locator), 20);
    }

[2021-07-21 13:00] baovu2512 commented on #114
Hi guys, sorry because so busy recently and cannot reply,. You guys can ping me via Skype : baovu2512. Support with screen sharing is easier.

[2021-07-22 13:49] teeencho commented on #162
Thank you for sharing this !! Were you able to run on iOS real devices? how?

[2021-07-23 13:20] funckytown1 commented on #168
@truongsinh @KazuCocoa @shibupanda
The implementation of this method is looks like it will be critical for my testing. So I am thinking of attempting to implement it myself and am wondering you any of you have an idea of how difficult it would be or any suggestions on where to start?

[2021-07-23 16:25] KazuCocoa commented on #168
I guess VSCode may help as development environment.
https://github.com/truongsinh/appium-flutter-driver/blob/b73941aefd4bae13fb92f84ffb3ec3b0731dfe31/driver/lib/commands/execute.ts probably be an entry point.
For example, `requestData` was added as https://github.com/truongsinh/appium-flutter-driver/commit/fca8588c400240d285d280eb21d072abb1dfe530

You should find what command goes to Dart VM when

[2021-07-26 19:11] funckytown1 commented on #168
Implemented setFrameSync which allowed for a fix!

[2021-07-26 19:11] #168 closed

[2021-07-27 05:25] KazuCocoa commented on #169
This flutter driver does not work for system element interactions.
https://github.com/truongsinh/appium-flutter-driver#todo

[2021-07-29 19:43] AutomationNext commented on #109
This line worked for me but how do you switch it back to using flutter driver?

I tried using

but appium was still stuck using UiAutomator2 to locate elements.
Thanks.

[2021-08-04 20:43] teeencho commented on #169
Try this:

[code]

[2021-08-09 04:26] waitan2018 commented on #116
How did you solve this issue?

[2021-08-09 06:19] waitan2018 commented on #158
How did you solve this issue?

[2021-08-10 01:33] lztestjust opened #171 "appium-flutter-driver automated test Cannot read property 'match' of undefined"

[2021-08-10 11:47] okaruk opened #172 "Vertical scroll to element until it's visible is failing with "Error: [object Object] is not a valid options" exception"
While performing vertical scroll to element until it's visible getting the following error:

[code]

Here is complete command written on Ruby:
`driver.execute_script('flutter:scrollUntilVisible', by_type('ListView'), {item: by_value_key('submit_btn'), dyScroll: -256})
`

It should be okay to skip `dxScroll` value as per Flutter docs - **At least one of `dxScroll` and `dyScroll` must be non-zero.**

[2021-08-11 06:51] vinaybalepur opened #173 "Unable to set mock location using flutter driver"
I am automating a location based application, which needs me to simulate a particular location for the user. When I try to do this, I am getting an error as method not implemented. I am using set-location method provided by appium driver and looks like this method is not yet implemented in flutter driver. Can this option be provided as the same is available with uiautomation2 and iphone automation

[2021-08-11 07:19] KazuCocoa commented on #173
What about switching its context to `NATIVE_APP`?

[2021-08-11 07:22] KazuCocoa commented on #171
Did you ensure the app under test called `enableFlutterDriverExtension`?
https://github.com/truongsinh/appium-flutter-driver#usage

[2021-08-11 09:31] vinaybalepur commented on #173
Thank you @KazuCocoa . It is working now.

[2021-08-12 11:58] alexborelli commented on #158
@waitan2018 my problem was compiling the app. It remained to add the call to enableFlutterDriverExtension.
https://github.com/truongsinh/appium-flutter-driver#usage

[2021-08-12 14:09] alexborelli commented on #113
How do I use waitFor in Java?
Didn't work for me

[2021-08-12 23:25] MikeBenitez1 commented on #96
+1

[2021-08-12 23:42] MikeBenitez1 commented on #96
Hi @shibupanda @truongsinh @KazuCocoa , is there an ETA to integrate/support this feature or any help we can do? I am facing this issue also and most of our scenarios needs to interact with a webview embedded in a Flutter app 😞 .

Thanks in advance 🙏

[2021-08-13 22:01] MikeBenitez1 commented on #45
Hi @shibupanda  @truongsinh  @KazuCocoa  , is there an ETA to integrate/support this feature or any help we can do? I am facing issues with this also and most of our scenarios needs to interact with a webview embedded in a Flutter app 😞 .

Thanks in advance 🙏

[2021-08-18 21:38] ferreirasouza commented on #116
Hi Guys.
Does anyone know any solution for this problem?
I'm also facing the same problem.
The log from Appium is exactly the same that you guys have.

....
[debug] [FlutterDriver] Deleting Flutter Driver session
[debug] [BaseDriver] Event 'newSessionStarted' logged at 1629321676325 (17:21:16 GMT-0400 (Eastern Daylight Time))
[debug] [W3C] Encountered internal error running command: TypeError: Can

[2021-08-18 21:57] ferreirasouza commented on #171
Hi Guys.

Does anyone know any solution for this problem?
I'm also facing the same problem, but for iOS.

I'm a QA and I asked dev team to enable Flutter Driver Extension, but I still have the same issue...

The log from Appium:

....
[debug] [FlutterDriver] Deleting Flutter Driver session
[debug] [BaseDriver] Event 'newSessionStarted' logged at 1629321676325 (17:21:16 GMT-0400 (Eastern Daylight T

[2021-08-19 07:26] #173 closed

[2021-08-19 07:27] #169 closed

[2021-08-19 07:28] KazuCocoa commented on #171
Please attach the full appium log as GIST

[2021-08-19 07:30] #75 closed

[2021-08-19 07:35] KazuCocoa commented on #133
v0.0.25 did not work with iOS real devices. v0.0.29 could try out.

[2021-08-19 07:35] #133 closed

[2021-08-19 07:38] KazuCocoa commented on #125
I don't think flutter_driver app can interact with system dialogs. (It is flutter_driver which is by Flutter team stuff)
You generally need to switch to "NATIVE" context then.

[2021-08-19 07:38] #125 closed

[2021-08-19 07:51] #99 closed

[2021-08-20 08:09] KazuCocoa commented on #119
Possible duplicate of https://github.com/appium-flutter-driver/appium-flutter-driver/issues/161

[2021-08-20 08:09] #119 closed

[2021-08-20 08:19] KazuCocoa commented on #112
the log seems not flutter-driver. (The app under test was flutter app tho)

[2021-08-20 08:19] #112 closed

[2021-08-21 08:31] KazuCocoa commented on #45
Did the app enable debugging feature to access to the WebView?
https://pub.dev/documentation/webview_flutter/latest/webview_flutter/WebView/debuggingEnabled.html

I guess if the flag is enabled, then probably getContexts will return WebView.
https://github.com/appium-flutter-driver/appium-flutter-driver/blob/ce2315acf28a3b92386779ecb9e7a45d62a3eca9/driver/lib/commands/context.ts#L13

---

I haven'

[2021-08-22 05:12] KazuCocoa commented on #145
I assume https://github.com/appium-flutter-driver/appium-flutter-driver/pull/135 https://github.com/appium-flutter-driver/appium-flutter-driver/pull/130 fixed this issue. v0.0.29.
(iOS 14+ requires profile build tho by Flutter)

[2021-08-22 05:12] #145 closed

[2021-08-22 05:18] KazuCocoa commented on #162
This situation might change in some cloud vendors.

e.g. flutter driver 0.0.29 (appium 1.21+) on HeadSpin allows flutter apps with this appium-flutter-driver.
(iOS needs to be profile build tho for iOS 14+)

[2021-08-22 05:18] #162 closed

[2021-08-22 05:20] KazuCocoa commented on #82
Afaik, ` Cannot read property 'match' of undefined` occurs when appium-flutter-driver failed to find a device and its logcat.
e.g. a host which has multiple android devices. In the case, 0.0.29 should work.

[2021-08-22 05:20] #82 closed

[2021-08-22 05:29] KazuCocoa commented on #149
It seems Flutter driver does not support `getPageSource` yet.
`driver.execute('flutter: getRenderTree')` returns string, but this does not have a feature to convert the string into XML. So I guess the 501 returned.

[2021-08-22 05:37] KazuCocoa commented on #149
Added a note in readme https://github.com/appium-flutter-driver/appium-flutter-driver/pull/176 as current limitation.
(Feel free to create a pr to support it)

[2021-08-22 05:37] #149 closed

[2021-08-22 05:41] #90 closed

[2021-08-24 00:07] MikeBenitez1 commented on #45
Hi @KazuCocoa thanks for the answer, yes the app has the webView debugging flag enabled, the thing is that while using the Appium-Flutter-Driver (Ruby) I am able to get all the available contexts (WebView included) also I am able to set the WebView context but not able to find any WebView element (tried all the web element location approaches), even I added these capabilities `enableWebviewDetails

[2021-08-24 08:02] KazuCocoa commented on #45
I see.
Do you know a good example of Flutter x WebView I can try out as a test app?
So, probably this issue eventually should handle WebView context by UIA2/XCUITest as same as native/flutter contexts.

I'll try to dig the cause in when I have a chance, but it is welcome to add this feature by someone.

[2021-08-24 08:03] KazuCocoa commented on #96
Move to => https://github.com/appium-userland/appium-flutter-driver/issues/45

[2021-08-24 08:03] #96 closed

[2021-08-25 04:48] MikeBenitez1 commented on #45
Hi @KazuCocoa  here's a Flutter application with a WebView, its ready to compile _`(with WebContentsDebugging and flutter_driver enabled)`_ https://github.com/MikeBenitez1/flutter_browser_app or if you prefer the apk you can find it here: https://drive.google.com/drive/folders/1tVnBIndCzA9Tjq-cXUWvzxDyYrVYzUx1?usp=sharing

We really appreciate your support on this.

[2021-08-29 06:16] KazuCocoa commented on #89
Have you faced a similar issue? Is there an existing known workaround?

Then, I guess only Flutter team can fix it. Afaik, this driver sends flutter_driver commands to the Dart VM. The behavior depends on the Flutter itself.

[2021-08-29 06:16] #89 closed

[2021-08-30 07:19] thekucays opened #177 "runUnsynchronized implementation"
hi, love this tool! but i got a problem that prevents me to migrate to this tool from native flutter driver

so in my app under test, there is a view which contains looping animation.. so when using native flutter driver i should use something like

[code]

and i know by the doc that currently runUnsynchronized is not yet implemented for this tool, but is there any temporary workaround or somethin

[2021-08-30 07:35] KazuCocoa commented on #45
I haven't tested, but probably like https://github.com/appium-userland/appium-flutter-driver/pull/178 may be the cause